/* header */

.card-header#brightness-level .header-text
{
    left: 5.5595%;
}

.card-header#brightness-level .header-icon
{
    top: 24.7%;
    left: 1.8531%;
    width: 2.1%;
}

/* brightness */

.dashboard-page-config-brightness-input-container
{
    z-index: 1;
    position: relative;
    display: inline-block;
    border: 1px solid #C6C6C6;
    border-radius: 6px;
    margin-top: 8%;
    margin-left: 3.7%;
    margin-right: 3.7%;
    width: 24.43%;
    height: 67.9%;
}

.dashboard-page-config-brightness-input-info
{
    position: absolute;
    top: -2%;
    left: 83%;
    width: 17.805%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-brightness-input-info:hover
{
    transform: scale(1.1);
}

.dashboard-page-config-brightness-input-circle
{
    z-index: 0;
    position: relative;
    display: inline-block;
    top: 16%;
}

.dashboard-page-config-brightness-input-label
{
    position: relative;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    text-align: center;
    top: -19%;
    margin-left: 30%;
    margin-right: 30%;
    height: 20%;
}

.dashboard-page-config-brightness-input-value
{
    position: relative;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 700;
    font-size: max(2vw, 28.8px);
    text-align: center;
    top: -58%;
    margin-left: 24%;
    margin-right: 24%;
}