/* header */

.card-header#schedule .header-text
{
    left: 11.5212%;
}

.card-header#schedule .header-icon
{
    top: 26.5%;
    left: 3.8404%;
    width: 5.3765%;
}

.config-page .schedule-add
{
    z-index: 1;
    position: absolute;
    color: #005570;
    font-weight: 500;
    font-size: max(0.8vw, 11.52px);
    top: 38%;
    left: 75%;
    cursor: pointer;
}

.config-page .schedule-add:hover
{
    filter: brightness(120%);
}

.config-page .schedule-add#disabled
{
    opacity: 0.5;
    pointer-events: none;
}

/* label */

.card-label#label1-right
{
    top: 47%;
    left: 53.5%;
}

/* dropdown lists */

.card-dropdown#schedule-dd0, .card-dropdown#schedule-dd1,
.card-dropdown#schedule-dd2
{
    position: absolute;
    height: 8%;
}

.card-dropdown#schedule-dd0
{
    top: 28%;
    left: 8%;
    width: 72%;
}

.card-dropdown#schedule-dd1
{
    top: 55%;
    left: 8%;
    width: 40%;
}

.card-dropdown#schedule-dd2
{
    top: 55%;
    left: 52%;
    width: 40%;
}

/* day selector */

.config-page .day-selector
{
    z-index: 0;
    position: absolute;
    display: inline-block;
    border: 1px solid #C6C6C6;
    border-radius: 6px;
    top: 82%;
    left: 8%;
    padding-top: 0.3%;
    padding-left: 3%;
    width: 80.5%;
    height: 7.7%;
}

.config-page .day-selector-btn
{
    position: relative;
    color: #005570;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    margin-right: 7.1%;
    cursor: pointer;
}

.config-page .day-selector-btn:hover
{
    filter: brightness(115%);
}

.config-page .day-selector-btn#disabled
{
    opacity: 0.5;
    pointer-events: none;
}