.dashboard-notification
{
    z-index: 3;
    position: absolute;
    display: inline-block;
    top: 22%;
    left: 80.7%;
    width: 1.7%;
    cursor: pointer;

    transition-property: all;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
}

.dashboard-notification:hover
{
    transform: translate(-8%, 0%) scale(1.1);
    top: 20%;
    cursor: pointer;
}

.dashboard-notification img
{
    position: absolute;
    margin-left: 82%;
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: inherit;
}

.dashboard-notification .number
{
    position: absolute;
    color: #FFFFFF;
    font-size: max(0.5vw, 7.2px);
    font-weight: 500;
    left: 145%;
    transform: translate(0, 18%);
    width: 100%;
}

.dashboard-notification-dd
{
    opacity: 0.9;
}

.dashboard-notification-dd .polygon
{
    position: absolute;
    top: 90%;
    left: 82.15%;
    width: 1.0%;
    height: 30%;
}

.dashboard-notification-dd .top
{
    position: absolute;
    background: #000E1B;
    border-radius: 3px;
    top: 120%;
    left: 81.5%;
    width: 17.18%;
    height: 58%;
}

.dashboard-notification-dd .top h1
{
    position: absolute;
    color: #FFFFFF;
    font-size: max(0.75vw, 10.8px);
    font-weight: 600;
    top: 11%;
    left: 4%;
}

.dashboard-notification-dd .btn
{
    position: absolute;
    background-color: #F7F7F7;
    color: #6D6E71;
    border-radius: 3px;
    font-size: max(0.7vw, 10.08px);
    font-weight: 500;
    text-align: center;
    line-height: 150%;
    cursor: pointer;
}

.dashboard-notification-dd .btn:hover
{
    background-color: #E6E6E6;
}

.dashboard-notification-dd .btn:active
{
    background-color: #F7F7F7;
}

.dashboard-notification-dd .top .btn
{
    top: 26%;
    left: 71%;
    width: 22.72%;
}

.dashboard-notification-dd ul
{
    position: absolute;
    top: 177%;
    left: 81.5%;
    width: 17.18%;
    height: 56%;
    list-style: none;
}

.dashboard-notification-dd ul li 
{
    position: relative;
    background-color: #474546;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 1%;
    padding-top: 31%;
}

.dashboard-notification-dd ul .clear
{
    background-color: #FF6A1B;
}

.dashboard-notification-dd ul img
{
    position: absolute;
    top: 15%;
    left: 5%;
    width: 10%;
    height: auto;
}

.dashboard-notification-dd ul h1
{
    color: #FFFFFF;
    font-size: max(0.75vw, 10.8px);
    font-weight: 600;
    text-decoration: underline;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -27.5%;
}

.dashboard-notification-dd ul h2
{
    color: #FFFFFF;
    font-size: max(0.75vw, 10.8px);
    font-weight: 400;
    margin-left: 20%;
    margin-top: 2.2%;
}

.dashboard-notification-dd ul .btn
{
    margin-top: 12%;
    left: 65.95%;
    width: 28%;
}