.dashboard-page-config
{
    position: absolute;
    top: 17%;
    left: 12%;
    width: 81%;
    height: 100%;
    text-align: left;
}

/* footer */

.dashboard-page-config-footer
{
    position: absolute;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    color: #6D6E71;
    font-size: max(0.7vw, 10.08px);
    font-weight: 500;
    width: 100%;
    height: 4%;
    bottom: -38%;
}

.dashboard-page-config-footer .center
{
    position: absolute;
    text-align: center;
    font: inherit;
    width: 100%;
    top: 10%;
}

.dashboard-page-config-footer .right
{
    position: absolute;
    font: inherit;
    left: 82%;
    top: 10%;
}

/* top row headers */

.dashboard-page-config-header-top
{
    width: 100%;
    height: auto;
}

.dashboard-page-config-header-top-text
{
    z-index: 1;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: -0.1%;
    left: 11.3%;
}

.dashboard-page-config-header-top-img
{
    position: absolute;
    top: -1.1%;
    left: -1.2%;
    width: 102.4%;
    height: auto;
}

.dashboard-page-config-header-top-icon
{
    z-index: 1;
    position: absolute;
    top: 2.75%;
    left: 3%;
    width: 5.5%;
    height: auto;
}

/* common headers */

.dashboard-page-config-card-header0
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 20%;
    left: 9%;
}

.dashboard-page-config-card-header1
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 47%;
    left: 9%;
}

.dashboard-page-config-card-header2
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 74%;
    left: 9%;
}

/* motion sensor */

.dashboard-page-config-ms-container
{
    position: relative;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    width: 31.8%;
    height: 35%;
    vertical-align: top;
}

.dashboard-page-config-ms-button-container
{
    z-index: 1;
    position: absolute;
    border-radius: 14px;
    background-color: #005570;
    top: 1.4%;
    left: 85%;
    width: 9.3%;
    height: 7.875%;
    cursor: pointer;
}

.dashboard-page-config-ms-button-circle
{
    z-index: 1;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px #00000029;
    border: 1px solid #000000;
    border-radius: 50%;
    width: 56%;
    height: 91%;

    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    /* -10%, 75% */
    transform: translate(75%, 0%);
}

.dashboard-page-config-ms-info
{
    position: absolute;
    top: 16.25%;
    left: 29%;
    width: 9%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-ms-info:hover
{
    transform: scale(1.1);
}

.dashboard-page-config-ms-ddcontainer
{
    position: absolute;
    top: 28%;
    left: 8%;
    width: 70%;
    height: 8%;
}

/* settings */

.dashboard-page-config-settings-container
{
    position: relative;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    margin-left: 2%;
    width: 31.8%;
    height: 35%;
    vertical-align: top;
}

.dashboard-page-config-settings-sync-info
{
    position: absolute;
    top: 16.25%;
    left: 32.3%;
    width: 9%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-settings-sync-info:hover
{
    transform: scale(1.1);
}

.dashboard-page-config-settings-intensity-info
{
    position: absolute;
    top: 43.2%;
    left: 37.5%;
    width: 9%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-settings-intensity-info:hover
{
    transform: scale(1.1);
}

.dashboard-page-config-settings-holdtime-info
{
    position: absolute;
    top: 70.15%;
    left: 29.3%;
    width: 9%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-settings-holdtime-info:hover
{
    transform: scale(1.1);
}

.dashboard-page-config-clocktext
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: max(0.91vw, 13.16px);
    top: 29.7%;
    left: 16%;
}

.dashboard-page-config-radio
{
    position: absolute;
    top: 29.5%;
    left: 9%;
    width: 4.6%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-settings-intensity-ddcontainer
{
    position: absolute;
    top: 55%;
    left: 8%;
    width: 70%;
    height: 8%;
}

.dashboard-page-config-settings-holdtime-ddcontainer
{
    position: absolute;
    top: 82%;
    left: 8%;
    width: 25%;
    height: 8%;
}

.dashboard-page-config-settings-holdtimeunits-ddcontainer
{
    position: absolute;
    top: 82%;
    left: 36%;
    width: 41.9%;
    height: 8%;
}

/* schedule */

.dashboard-page-config-schedule-container
{
    position: relative;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    margin-left: 2%;
    width: 31.8%;
    height: 35%;
    vertical-align: top;
}

.dashboard-page-config-schedule-add
{
    z-index: 1;
    position: absolute;
    color: #005570;
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: max(0.8vw, 11.52px);
    top: 4.3%;
    left: 75%;
    cursor: pointer;
}

.dashboard-page-config-schedule-add:hover
{
    filter: brightness(120%);
}

.dashboard-page-config-schedule-add-disabled
{
    z-index: 1;
    position: absolute;
    color: #005570;
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: max(0.8vw, 11.52px);
    top: 4.3%;
    left: 75%;
    opacity: 0.5;
    cursor: default;
}

.dashboard-page-config-schedule-endtime-header
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 47%;
    left: 53.5%;
}

.dashboard-page-config-schedule-activities-ddcontainer
{
    position: absolute;
    top: 28%;
    left: 8%;
    width: 72%;
    height: 8%;
}

.dashboard-page-config-schedule-start-ddcontainer
{
    position: absolute;
    top: 55%;
    left: 8%;
    width: 40%;
    height: 8%;
}

.dashboard-page-config-schedule-end-ddcontainer
{
    position: absolute;
    top: 55%;
    left: 52%;
    width: 40%;
    height: 8%;
}

.dashboard-page-config-schedule-day-container
{
    z-index: 0;
    position: absolute;
    border: 1px solid #C6C6C6;
    border-radius: 6px;
    top: 82%;
    left: 8%;
    width: 84%;
    height: 8%;
    display: inline-block;
    padding-left: 3%;
    padding-top: 1%;
}

.dashboard-page-config-schedule-day-button
{
    position: relative;
    color: #005570;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    margin-right: 7.1%;
    cursor: pointer;
}

.dashboard-page-config-schedule-day-button:hover
{
    filter: brightness(120%);
}

.dashboard-page-config-schedule-day-button-disabled
{
    color: #005570;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    margin-right: 7.1%;
    opacity: 0.5;
    cursor: default;
}

/* brightness */

.dashboard-page-config-brightness-container
{
    position: relative;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    margin-top: 2%;
    width: 65.8%;
    height: 35%;
    text-align: center;
}

.dashboard-page-config-header-brightness
{
    width: 100%;
    height: auto;
}

.dashboard-page-config-header-brightness-text
{
    z-index: 1;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: -0.1%;
    left: 5.5%;
}

.dashboard-page-config-header-brightness-img
{
    position: absolute;
    top: -1.1%;
    left: -0.6%;
    width: 101.15%;
    height: auto;
}

.dashboard-page-config-header-brightness-icon
{
    z-index: 1;
    position: absolute;
    top: 2%;
    left: 1.8%;
    width: 2%;
    height: auto;
}

.dashboard-page-config-brightness-input-container
{
    z-index: 1;
    position: relative;
    display: inline-block;
    border: 1px solid #C6C6C6;
    border-radius: 6px;
    margin-top: 8%;
    margin-left: 3.7%;
    margin-right: 3.7%;
    width: 24.43%;
    height: 67.9%;
}

.dashboard-page-config-brightness-input-info
{
    position: absolute;
    top: -2%;
    left: 83%;
    width: 17.805%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-brightness-input-info:hover
{
    transform: scale(1.1);
}

.dashboard-page-config-brightness-input-circle
{
    z-index: 0;
    position: relative;
    display: inline-block;
    top: 16%;
}

.dashboard-page-config-brightness-input-label
{
    position: relative;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    text-align: center;
    top: -19%;
    margin-left: 30%;
    margin-right: 30%;
    height: 20%;
}

.dashboard-page-config-brightness-input-value
{
    position: relative;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 700;
    font-size: max(2vw, 28.8px);
    text-align: center;
    top: -58%;
    margin-left: 24%;
    margin-right: 24%;
}

/* calendar */

.dashboard-page-config-calendar-container
{
    position: relative;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    margin-top: 2%;
    margin-left: 2%;
    width: 31.8%;
    height: 66%;
    vertical-align: top;
}

.dashboard-page-config-calendar-prevnext
{
    width: 150%;
    height: auto;
}

.dashboard-page-config-photosensor-legend
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: max(0.7vw, 10.08px);
    top: 61.65%;
    left: 11%;
}

.dashboard-page-config-fullbrightness-legend
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: max(0.7vw, 10.08px);
    top: 61.65%;
    left: 46%;
}

.dashboard-page-config-motion-legend
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: max(0.7vw, 10.08px);
    top: 61.65%;
    left: 74%;
}

.dashboard-page-config-photosensor-icon
{
    position: absolute;
    background-color: #FF8900;
    border-radius: 50%;
    top: 62.3%;
    left: 8%;
    width: 1.4%;
    padding-top: 1.4%;
}

.dashboard-page-config-fullbrightness-icon
{
    position: absolute;
    background-color: #00C2FF;
    border-radius: 50%;
    top: 62.3%;
    left: 43.5%;
    width: 1.4%;
    padding-top: 1.4%;
}

.dashboard-page-config-motion-icon
{
    position: absolute;
    background-color: #58C315;
    border-radius: 50%;
    top: 62.3%;
    left: 71.5%;
    width: 1.4%;
    padding-top: 1.4%;
}

.dashboard-page-config-calendar-divider
{
    position: absolute;
    border: 1px solid #C6C6C6;
    top: 66%;
    left: 4.8%;
    width: 90.4%;
    height: 0%;
}

.dashboard-page-config-calendar-bottom-header
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 700;
    font-size: max(1.24vw, 17.33px);
    top: 68.5%;
    left: 8%;
}

.dashboard-page-config-calendar-radio-container0
{
    position: absolute;
    background-color: #FCFCFC;
    top: 75%;
    left: 2%;
    width: 96%;
    height: 6%;
}

.dashboard-page-config-calendar-radio-container1
{
    position: absolute;
    background-color: #FCFCFC;
    top: 83%;
    left: 2%;
    width: 96%;
    height: 6%;
}

.dashboard-page-config-calendar-radio-container2
{
    position: absolute;
    background-color: #FCFCFC;
    top: 91%;
    left: 2%;
    width: 96%;
    height: 6%;
}

.dashboard-page-config-calendar-radio
{
    position: absolute;
    top: 22.6%;
    left: 6%;
    width: 4.8%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-calendar-radio-divider
{
    position: absolute;
    top: 5.55%;
    left: 14.5%;
    width: auto;
    height: 88.9%;
}

.dashboard-page-config-calendar-radio-icon0
{
    position: absolute;
    top: 3%;
    left: 17.2%;
    width: 8%;
    height: auto;
}

.dashboard-page-config-calendar-radio-icon1
{
    position: absolute;
    top: 22%;
    left: 19.5%;
    width: 3.4%;
    height: auto;
}

.dashboard-page-config-calendar-radio-icon2
{
    position: absolute;
    top: 24%;
    left: 18.7%;
    width: 4.6%;
    height: auto;
}

.dashboard-page-config-calendar-radio-text
{
    position: absolute;
    color: #272D3B;
    font-family: "work sans", sans-serif;
    font-size: max(0.85vw, 12.24px);
    font-weight: 700;
    top: 25%;
    left: 28%;
}

.dashboard-page-config-calendar-radio-time
{
    color: #272D3B;
    font-family: "work sans", sans-serif;
    font-size: max(0.85vw, 12.24px);
    font-weight: 300;
    margin-top: 2%;
    margin-right: 3%;
    text-align: right;
}

.dashboard-page-config-calendar-indicators
{
    position: relative;
    width: 100%;
    height: 20%;
}

.dashboard-page-config-calendar-photosensor-event
{
    position: absolute;
    background-color: #FF8900;
    border-radius: 50%;

    width: 13.25%;
    padding-top: 13.25%;
    height: 0%;
    top: 70%;
    left: 20%;
}

.dashboard-page-config-calendar-fullbrightness-event
{
    position: absolute;
    display: inline-block;
    background-color: #00C2FF;
    border-radius: 50%;

    width: 13.25%;
    padding-top: 13.25%;
    top: 70%;
    left: 44%;
}

.dashboard-page-config-calendar-motion-event
{
    position: absolute;
    display: inline-block;
    background-color: #58C315;
    border-radius: 50%;

    width: 13.25%;
    padding-top: 13.25%;
    top: 70%;
    left: 68%;
}

/* config page cancel and submit buttons */

.dashboard-page-config-cancel
{
    position: absolute;
    background-color: #C6C6C6;
    border-radius: 6px;

    color: #FFFFFF;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.9vw, 12.96px);
    text-align: center;

    top: 110%;
    left: 32%;
    width: 14%;
    height: 3%;
    line-height: 185%;

    cursor: pointer;
}

.dashboard-page-config-cancel:hover
{
    filter: brightness(105%);
}

.dashboard-page-config-submit
{
    position: absolute;
    background-color: #005570;
    border-radius: 6px;

    color: #FFFFFF;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.9vw, 12.96px);
    text-align: center;

    top: 110%;
    left: 48%;
    width: 14%;
    height: 3%;
    line-height: 185%;

    cursor: pointer;
}

.dashboard-page-config-submit:hover
{
    filter: brightness(120%);
}