.config-page
{
    position: absolute;
    top: 17%;
    left: 12%;
    width: 81%;
    height: 100%;
}

.config-page .card-container
{
    margin-bottom: 3.2%;
    height: 37.24%;
}

.config-page .card-container:nth-child(2)
{
    margin-left: 2.3%;
    margin-right: 2.3%;
}

.config-page-btn
{
    position: absolute;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: max(0.9vw, 12.96px);
    font-weight: 600;
    text-align: center;
    line-height: 185%;
    top: 110%;
    width: 14%;
    height: 3%;
    cursor: pointer;
}

.config-page-btn:hover
{
    filter: brightness(120%);
}

.config-page-btn#cancel
{
    background-color: #C6C6C6;
    left: 32%;
}

.config-page-btn#submit
{
    background-color: #005570;
    left: 48%;
}

/* header buttons */

.card-toggle-btn
{
    z-index: 1;
    position: absolute;
    background-color: #005570;
    border-radius: 14px;
    top: 22.5%;
    height: 55%;
    cursor: pointer;
}

.card-toggle-btn .circle
{
    z-index: 1;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px #00000029;
    border: 1px solid #005570;
    border-radius: 50%;
    width: 58%;
    height: 91%;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    /* -10%, 75% */
    transform: translate(75%, 0%);
}

/* common labels */

.card-label
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-size: max(0.8vw, 11.52px);
    font-weight: 600;
    left: 9%;
}

.card-label#label0
{
    top: 20%;
}

.card-label#label1
{
    top: 47%;
}

.card-label#label2
{
    top: 74%;
}

/* common headers */

.dashboard-page-config-card-header0
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 20%;
    left: 9%;
}

.dashboard-page-config-card-header1
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 47%;
    left: 9%;
}

.dashboard-page-config-card-header2
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 74%;
    left: 9%;
}

/* brightness */

.dashboard-page-config-brightness-container
{
    position: relative;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    margin-top: 2%;
    width: 65.8%;
    height: 35%;
    text-align: center;
}

.dashboard-page-config-header-brightness
{
    width: 100%;
    height: auto;
}

.dashboard-page-config-header-brightness-text
{
    z-index: 1;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: -0.1%;
    left: 5.5%;
}

.dashboard-page-config-header-brightness-img
{
    position: absolute;
    top: -1.1%;
    left: -0.6%;
    width: 101.15%;
    height: auto;
}

.dashboard-page-config-header-brightness-icon
{
    z-index: 1;
    position: absolute;
    top: 2%;
    left: 1.8%;
    width: 2%;
    height: auto;
}

.dashboard-page-config-brightness-input-container
{
    z-index: 1;
    position: relative;
    display: inline-block;
    border: 1px solid #C6C6C6;
    border-radius: 6px;
    margin-top: 8%;
    margin-left: 3.7%;
    margin-right: 3.7%;
    width: 24.43%;
    height: 67.9%;
}

.dashboard-page-config-brightness-input-info
{
    position: absolute;
    top: -2%;
    left: 83%;
    width: 17.805%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-brightness-input-info:hover
{
    transform: scale(1.1);
}

.dashboard-page-config-brightness-input-circle
{
    z-index: 0;
    position: relative;
    display: inline-block;
    top: 16%;
}

.dashboard-page-config-brightness-input-label
{
    position: relative;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    text-align: center;
    top: -19%;
    margin-left: 30%;
    margin-right: 30%;
    height: 20%;
}

.dashboard-page-config-brightness-input-value
{
    position: relative;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 700;
    font-size: max(2vw, 28.8px);
    text-align: center;
    top: -58%;
    margin-left: 24%;
    margin-right: 24%;
}

/* calendar */

.dashboard-page-config-calendar-container
{
    position: relative;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    margin-top: 2%;
    margin-left: 2%;
    width: 31.8%;
    height: 66%;
    vertical-align: top;
}

.dashboard-page-config-calendar-prevnext
{
    width: 150%;
    height: auto;
}

.dashboard-page-config-photosensor-legend
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: max(0.7vw, 10.08px);
    top: 61.65%;
    left: 11%;
}

.dashboard-page-config-fullbrightness-legend
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: max(0.7vw, 10.08px);
    top: 61.65%;
    left: 46%;
}

.dashboard-page-config-motion-legend
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: max(0.7vw, 10.08px);
    top: 61.65%;
    left: 74%;
}

.dashboard-page-config-photosensor-icon
{
    position: absolute;
    background-color: #FF8900;
    border-radius: 50%;
    top: 62.3%;
    left: 8%;
    width: 1.4%;
    padding-top: 1.4%;
}

.dashboard-page-config-fullbrightness-icon
{
    position: absolute;
    background-color: #00C2FF;
    border-radius: 50%;
    top: 62.3%;
    left: 43.5%;
    width: 1.4%;
    padding-top: 1.4%;
}

.dashboard-page-config-motion-icon
{
    position: absolute;
    background-color: #58C315;
    border-radius: 50%;
    top: 62.3%;
    left: 71.5%;
    width: 1.4%;
    padding-top: 1.4%;
}

.dashboard-page-config-calendar-divider
{
    position: absolute;
    border: 1px solid #C6C6C6;
    top: 66%;
    left: 4.8%;
    width: 90.4%;
    height: 0%;
}

.dashboard-page-config-calendar-bottom-header
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 700;
    font-size: max(1.24vw, 17.33px);
    top: 68.5%;
    left: 8%;
}

.dashboard-page-config-calendar-radio-container0
{
    position: absolute;
    background-color: #FCFCFC;
    top: 75%;
    left: 2%;
    width: 96%;
    height: 6%;
}

.dashboard-page-config-calendar-radio-container1
{
    position: absolute;
    background-color: #FCFCFC;
    top: 83%;
    left: 2%;
    width: 96%;
    height: 6%;
}

.dashboard-page-config-calendar-radio-container2
{
    position: absolute;
    background-color: #FCFCFC;
    top: 91%;
    left: 2%;
    width: 96%;
    height: 6%;
}

.dashboard-page-config-calendar-radio
{
    position: absolute;
    top: 22.6%;
    left: 6%;
    width: 4.8%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-calendar-radio-divider
{
    position: absolute;
    top: 5.55%;
    left: 14.5%;
    width: auto;
    height: 88.9%;
}

.dashboard-page-config-calendar-radio-icon0
{
    position: absolute;
    top: 3%;
    left: 17.2%;
    width: 8%;
    height: auto;
}

.dashboard-page-config-calendar-radio-icon1
{
    position: absolute;
    top: 22%;
    left: 19.5%;
    width: 3.4%;
    height: auto;
}

.dashboard-page-config-calendar-radio-icon2
{
    position: absolute;
    top: 24%;
    left: 18.7%;
    width: 4.6%;
    height: auto;
}

.dashboard-page-config-calendar-radio-text
{
    position: absolute;
    color: #272D3B;
    font-family: "work sans", sans-serif;
    font-size: max(0.85vw, 12.24px);
    font-weight: 700;
    top: 25%;
    left: 28%;
}

.dashboard-page-config-calendar-radio-time
{
    color: #272D3B;
    font-family: "work sans", sans-serif;
    font-size: max(0.85vw, 12.24px);
    font-weight: 300;
    margin-top: 2%;
    margin-right: 3%;
    text-align: right;
}

.dashboard-page-config-calendar-indicators
{
    position: relative;
    width: 100%;
    height: 20%;
}

.dashboard-page-config-calendar-photosensor-event
{
    position: absolute;
    background-color: #FF8900;
    border-radius: 50%;

    width: 13.25%;
    padding-top: 13.25%;
    height: 0%;
    top: 70%;
    left: 20%;
}

.dashboard-page-config-calendar-fullbrightness-event
{
    position: absolute;
    display: inline-block;
    background-color: #00C2FF;
    border-radius: 50%;

    width: 13.25%;
    padding-top: 13.25%;
    top: 70%;
    left: 44%;
}

.dashboard-page-config-calendar-motion-event
{
    position: absolute;
    display: inline-block;
    background-color: #58C315;
    border-radius: 50%;

    width: 13.25%;
    padding-top: 13.25%;
    top: 70%;
    left: 68%;
}