/* width is 1166 */

.dashboard-page-view
{
  position: absolute;
  top: 17%;
  left: 12%;
  width: 81%;
  height: 150%;
}

/* footer */
.dashboard-page-view-footer
{
  position: absolute;
  background: #F7F7F7 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 100%;
  height: 4%;
  bottom: -82%;
}

.dashboard-page-view-exportbtn
{
    font-family: "work sans", sans-serif;
    position: absolute;
    top: -3.26%;
    left: 90.22%;
    width: 10%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-view-exportbtn:hover
{
    filter: brightness(120%);
}

.dashboard-page-view-header-default
{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 15.3%;
}

.dashboard-page-view-headertop-text
{
    z-index: 1;
    position: absolute;
    color: #FFFFFF;
    font-family: "work sans", sans-serif;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    padding-top: 0.3%;
    left: 8%;
}

.dashboard-page-view-header-text
{
    z-index: 1;
    position: absolute;
    color: #000000;
    font-family: "work sans", sans-serif;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    padding-top: 0.3%;
    left: 8%;
}

.dashboard-page-view-headerimg-default
{
    position: absolute;
    top: -4%;
    left: -0.55%;
    width: 101.502%;
}

.dashboard-page-view-header-refresh
{
    z-index: 0;
    position: absolute;
    top: 4%;
    left: 88%;
    width: 2.7%;
    height: auto;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    cursor: pointer;
}

.dashboard-page-view-header-refresh:hover
{
    transform: scale(1.1);
}

.dashboard-page-view-header-info
{
    z-index: 0;
    position: absolute;
    top: -0.7%;
    left: 93.6%;
    width: 7%;
    height: auto;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    cursor: pointer;
    opacity: 0.5;
}

.dashboard-page-view-header-info:hover
{
    transform: scale(1.1);
}

.dashboard-page-view-border-default
{
    z-index: -2;
    position: absolute;
    top: 1%;
    width: 100%;
    height: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    opacity: 1;
}

/* block lights */

.dashboard-page-view-blocklights-container
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 49.2%;
    height: 22.667%;
    display: block;
}

.dashboard-page-view-block-icon
{
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 2.5%;
    width: 2.3%;
    height: auto;
}

.dashboard-page-view-blocklights-header-divider
{
    z-index: 0;
    position: absolute;
    background-color: #005596;
    top: 2.6%;
    left: 93.5%;
    width: 0.1%;
    height: 9%;
}

.dashboard-page-view-blocklights-divider0
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 56.75%;
    left: 4.1%;
    width: 91.8%;
    height: 0%;
}

.dashboard-page-view-blocklights-divider1
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 56.75%;
    left: 34.7%;
    width: 0%;
    height: 37.1%;
}

.dashboard-page-view-blocklights-divider2
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 19.75%;
    left: 65.3%;
    width: 0%;
    height: 74.2%;
}

.dashboard-page-view-blocklights-text-numlights
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: 21.5%;
    left: 8%;
}

.dashboard-page-view-blocklights-text-faults
{
    z-index: -1;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: 21.5%;
    left: 74%;
}

.dashboard-page-view-blocklights-text-on
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: 60.2%;
    left: 14%;
}

.dashboard-page-view-blocklights-text-off
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: 60.2%;
    left: 45%;
}

.dashboard-page-view-blocklights-text-dimmed
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: 60.2%;
    left: 77%;
}

.dashboard-page-view-blocklights-icon-faults
{
    z-index: 1;
    position: absolute;
    top: 23.7%;
    left: 69%;
    width: 4%;
    height: auto;
}

.dashboard-page-view-blocklights-icon-on
{
    z-index: 1;
    position: absolute;
    top: 62.5%;
    left: 10.5%;
    width: 2.3%;
    height: auto;
}

.dashboard-page-view-blocklights-icon-off
{
    z-index: 1;
    position: absolute;
    top: 62.5%;
    left: 41%;
    width: 2.3%;
    height: auto;
}

.dashboard-page-view-blocklights-icon-dimmed
{
    z-index: 1;
    position: absolute;
    top: 62.5%;
    left: 72.5%;
    width: 2.3%;
    height: auto;
}

.dashboard-page-view-blocklights-value-container-numlights
{
    position: absolute;
    text-align: left;
    top: 25%;
    left: 8%;
    width: 50%;
}

.dashboard-page-view-blocklights-value-container-faults
{
    position: absolute;
    text-align: center;
    top: 25%;
    left: 71.2%;
    width: 20%;
}

.dashboard-page-view-blocklights-value-container-on
{
    position: absolute;
    text-align: center;
    top: 64%;
    left: 8%;
    width: 22%;
}

.dashboard-page-view-blocklights-value-container-off
{
    position: absolute;
    text-align: center;
    top: 64%;
    left: 39%;
    width: 22%;
}

.dashboard-page-view-blocklights-value-container-dimmed
{
    position: absolute;
    text-align: center;
    top: 64%;
    left: 71.2%;
    width: 20%;
}

.dashboard-page-view-blocklights-value
{
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(2.4vw, 34.56px);
}

/* active lights */

.dashboard-page-view-activelights-container
{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 49.2%;
    height: 22.667%;
}

.dashboard-page-view-activelights-icon
{
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 2.5%;
    width: 3.5%;
    height: auto;
}

.dashboard-page-view-activelights-header-divider
{
    z-index: 0;
    position: absolute;
    background-color: #A35200;
    top: 2.6%;
    left: 93.6%;
    width: 0.1%;
    height: 9%;
}

.dashboard-page-view-activelights-table-container
{
    font-family: "work sans", sans-serif;
    font-weight: 400;
    font-size: max(0.8vw, 11.52px);
    width: 90%;
    margin-top: 15%;
    margin-left: 5%;
}

.dashboard-page-view-activelights-table-header-detections
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    left: 7.9%;
    top: 15.7%;
}

.dashboard-page-view-activelights-table-header-date
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    left: 33.7%;
    top: 15.7%;
}

.dashboard-page-view-activelights-table-header-time
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    left: 54.4%;
    top: 15.7%;
}

.dashboard-page-view-activelights-table-header-stats
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    left: 73.1%;
    top: 15.7%;
}

.dashboard-page-view-activelights-table-divider
{
    position: absolute;
    width: 89%;
    height: 0%;
    margin-top: -2.5%;
    left: 5.25%;
    border: 1px solid #E0E0E0;
    opacity: 0.8
}

.dashboard-page-view-activelights-table
{
    padding-top: 5.5%;
    border-collapse: collapse;
}

.dashboard-page-view-activelights-table tr:nth-child(odd)
{
    background-color: #FEF8F3;
}

.dashboard-page-view-activelights-table-id
{
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    width: 13.9%;
    padding-top: 0.8%;
    padding-left: 3%;
}

.dashboard-page-view-activelights-table-date
{
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    width: 10.2%;
    padding-top: 0.8%;
}

.dashboard-page-view-activelights-table-time
{
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    width: 9.2%;
    padding-top: 0.8%;
}

.dashboard-page-view-activelights-table-stats
{
    color: #009BA7;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 600;
    width: 10%;
    padding-top: 0.8%;
}

/* energy consumption */

.dashboard-page-view-energy-container
{
    position: absolute;
    top: 25%;
    left: 0%;
    width: 49.2%;
    height: 22.667%;
}

.dashboard-page-view-energy-icon
{
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 2.5%;
    width: 3.5%;
    height: auto;
}

.dashboard-page-view-energy-options-container
{
    margin-top: 1.5%;
    margin-left: 65%;
}

.dashboard-page-view-energy-options-btn
{
    display: inline-block;
    cursor: pointer;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.7vw, 10.08px);
    font-weight: 600;
    border-radius: 3px;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 6%;
    padding-right: 6%;
}

.dashboard-page-view-energy-options-btn:hover
{
    background: #F5F2F2;
}

.dashboard-page-view-energy-options-btn-selected
{
    display: inline-block;
    cursor: pointer;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.7vw, 10.08px);
    font-weight: 600;
    border-radius: 3px;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 6%;
    padding-right: 6%;
    background: #E0E0E0;
}

.dashboard-page-view-energy-options-btn-selected:hover
{
    background: #E6E4E4;
}

.dashboard-page-view-energy-graph-container
{
    position: absolute;
    top: 27%;
    left: 4%;
    width: 92%;
    height: 70%;
}

.dashboard-page-view-energy-yaxis
{
    position: absolute;
    color: #6D6E71;
    font-family: "work sans", sans-serif;
    font-size: max(0.7vw, 10.08px);
    font-weight: 500;
    top: 54.4%;
    left: 3%;
}

.dashboard-page-view-energy-xaxis
{
    display: inline-block;
    position: absolute;
    color: #6D6E71;
    font-family: "work sans", sans-serif;
    font-size: max(0.7vw, 10.08px);
    font-weight: 500;
    top: 93%;
    left: 52.15%;
}

.dashboard-page-view-energy-present
{
    position: absolute;
    color: #212529;
    font-family: "work sans", sans-serif;
    font-size: max(0.7vw, 10.08px);
    font-weight: 400;
    top: 18%;
    left: 80%;
}

.dashboard-page-view-energy-present-img
{
    position: absolute;
    border: 1px solid #2CD9C5;
    top: 20%;
    left: 77%;
    width: 2%;
    height: 0%;
}

.dashboard-page-view-energy-past
{
    position: absolute;
    color: #212529;
    font-family: "work sans", sans-serif;
    font-size: max(0.7vw, 10.08px);
    font-weight: 400;
    top: 18%;
    left: 91.5%;
}

.dashboard-page-view-energy-past-img
{
    position: absolute;
    border: 1px solid #826AF9;
    top: 20%;
    left: 88.5%;
    width: 2%;
    height: 0%;
}

/* light control */

.dashboard-page-view-control-container
{
    position: absolute;
    top: 25%;
    right: 0%;
    width: 49.2%;
    height: 22.667%;
}

.dashboard-page-view-control-icon
{
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 2.5%;
    width: 3.5%;
    height: auto;
}

.dashboard-page-view-control-floor-header
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 20%;
    left: 6%;
}

.dashboard-page-view-control-light-header
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 42.5%;
    left: 6%;
}

.dashboard-page-view-control-lighting-header
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 65%;
    left: 6%;
}

.dashboard-page-view-control-admin-header
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 65%;
    left: 74.5%;
}

.dashboard-page-view-selectfloor-ddcontainer
{
    position: absolute;
    top: 28%;
    left: 5%;
    width: 47%;
    height: 8%;
}

.dashboard-page-view-selectlight-ddcontainer
{
    position: absolute;
    top: 50.5%;
    left: 5%;
    width: 47%;
    height: 8%;
}

.dashboard-page-view-control-onbtn
{
    z-index: 0;
    position: absolute;
    background-color: #3497FD;
    border-radius: 12px;
    bottom: 6.85%;
    left: 4.7%;
    width: 21.78%;
    height: 20%;
    cursor: pointer;
}

.dashboard-page-view-control-onbtn:hover
{
    filter: brightness(120%);
}

.dashboard-page-view-control-offbtn
{
    z-index: 0;
    position: absolute;
    background-color: #6D6E71;
    border-radius: 12px;
    bottom: 6.85%;
    left: 27.7%;
    width: 21.78%;
    height: 20%;
    cursor: pointer;
}

.dashboard-page-view-control-offbtn:hover
{
    filter: brightness(120%);
}

.dashboard-page-view-control-normalbtn
{
    z-index: 0;
    position: absolute;
    background-color: #A0BC34;
    border-radius: 12px;
    bottom: 6.85%;
    left: 50.7%;
    width: 21.78%;
    height: 20%;
    cursor: pointer;
}

.dashboard-page-view-control-normalbtn:hover
{
    filter: brightness(120%);
}

.dashboard-page-view-control-loopbtn
{
    z-index: 0;
    position: absolute;
    background-color: #F07E0B;
    border-radius: 12px;
    bottom: 6.85%;
    left: 73.7%;
    width: 21.78%;
    height: 20%;
    cursor: pointer;
}

.dashboard-page-view-control-loopbtn:hover
{
    filter: brightness(120%);
}

.dashboard-page-view-control-btn-icon
{
    position: relative;
    top: 30%;
    left: 15%;
    width: 12%;
    height: auto;
}

.dashboard-page-view-control-btn-loopicon
{
    position: relative;
    top: 28%;
    left: 15%;
    width: 19%;
    height: auto;
}

.dashboard-page-view-control-btn-text
{
    position: absolute;
    color: #FFFFFF;
    font-family: "work sans", sans-serif;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: 34%;
    left: 35%;
}

.dashboard-page-view-control-btn-looptext
{
    position: absolute;
    color: #FFFFFF;
    font-family: "work sans", sans-serif;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: 34%;
    left: 42%;
}

/* activity log */

.dashboard-page-view-activity-container
{
    position: absolute;
    top: 50%;
    left: 0%;
    width: 65%;
    height: 24.933%;
}

.dashboard-page-view-activity-header
{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 13.5%;
}

.dashboard-page-view-activity-headerimg
{
    position: absolute;
    top: -4%;
    left: -0.4%;
    width: 101.12%;
    height: auto;
}

.dashboard-page-view-activity-header-text
{
    z-index: 1;
    position: absolute;
    color: #000000;
    font-family: "work sans", sans-serif;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    padding-top: 0.3%;
    left: 6.6%;
}

.dashboard-page-view-activity-icon
{
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 2%;
    width: 2.65%;
    height: auto;
}

.dashboard-page-view-activity-header-divider
{
    z-index: 0;
    position: absolute;
    background-color: #C6C6C6;
    top: 2.5%;
    left: 95%;
    width: 0.1%;
    height: 7.6%;
}

.dashboard-page-view-activity-refresh
{
    z-index: 0;
    position: absolute;
    top: 3.7%;
    left: 96.5%;
    width: 2.04%;
    height: auto;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    cursor: pointer;
}

.dashboard-page-view-activity-refresh:hover
{
    transform: scale(1.1);
}

.dashboard-page-view-activity-show
{
    position: absolute;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 600;
    top: 1.5%;
    left: 73.8%;
}

.dashboard-page-view-activity-entries
{
    position: absolute;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 600;
    top: 1.5%;
    left: 87.5%;
}

.dashboard-page-view-activity-ddcontainer
{
    position: absolute;
    top: 1.7%;
    left: 79.25%;
    width: 7%;
    height: 8%;
}

.dashboard-page-view-activity-table-container
{
    font-family: "work sans", sans-serif;
    font-weight: 400;
    font-size: max(0.8vw, 11.52px);
    width: 89%;
    margin-top: 11%;
    margin-left: 5.5%;
    margin-right: 5.5%;
}

.dashboard-page-view-activity-table-header-user
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    left: 8.3%;
    top: 17%;
    cursor: pointer;
    user-select: none;
}

.dashboard-page-view-activity-table-header-action
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    left: 57.1%;
    top: 17%;
    cursor: pointer;
    user-select: none;
}

.dashboard-page-view-activity-table-divider
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 24%;
    width: 89%;
    height: 0%;
    opacity: 0.8
}

.dashboard-page-view-activity-table-divider2
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 89%;
    width: 89%;
    height: 0%;
    opacity: 0.8
}

.dashboard-page-view-activity-table
{
    padding-top: 2.2%;
    width: 100%;
    border-collapse: collapse;
}

.dashboard-page-view-activity-table tr:nth-child(odd)
{
    background-color: #F7F7F7;
}

.dashboard-page-view-activity-table-user
{
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    width: 13.9%;
    padding-top: 0.5%;
    padding-left: 3%;
}

.dashboard-page-view-activity-table-action
{
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    width: 10.2%;
    padding-top: 0.5%;
}

.dashboard-page-view-activity-showing
{
    position: absolute;
    color: #6D6E71;
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: max(0.8vw, 11.52px);
    top: 93%;
    left: 6.5%;
}

.dashboard-page-view-activity-pagination-container
{
    position: absolute;
    top: 92.5%;
    left: 45%;
    width: 50%;
    height: 5.5%;
}

.dashboard-page-view-activity-prev
{
    color: #C6C6C6;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);
    cursor: default;
    float: right;
    user-select: none;
}

.dashboard-page-view-activity-prev-active
{
    color: #005570;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);
    cursor: pointer;
    float: right;
    user-select: none;
}

.dashboard-page-view-activity-prev-active:hover
{
    filter: brightness(120%);
}

.dashboard-page-view-activity-next
{
    color: #C6C6C6;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);
    cursor: default;
    float: right;
    margin-left: 5%;
    user-select: none;
}

.dashboard-page-view-activity-next-active
{
    color: #005570;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);
    cursor: pointer;
    float: right;
    margin-left: 5%;
    user-select: none;
}

.dashboard-page-view-activity-page
{
    color: #005570;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);
    cursor: pointer;
    float: right;
    margin-left: 5%;
    user-select: none;
}

.dashboard-page-view-activity-page-current
{
    color: #C6C6C6;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);

    cursor: default;
    float: right;
    margin-left: 5%;
    user-select: none;
}

.dashboard-page-view-activity-next-active:hover
{
    filter: brightness(120%);
}

/* gateway information */

.dashboard-page-view-gateway-container
{
    position: absolute;
    top: 50%;
    right: 0%;
    width: 33.5%;
    height: 24.933%;
    text-align: center;
}

.dashboard-page-view-gateway-header
{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 13.5%;
}

.dashboard-page-view-gateway-headerimg
{
    position: absolute;
    top: -13%;
    left: -0.8%;
    width: 102%;
}

.dashboard-page-view-gateway-header-text
{
    z-index: 1;
    position: absolute;
    color: #000000;
    font-family: "work sans", sans-serif;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    padding-top: 0.3%;
    left: 11.5%;
}

.dashboard-page-view-gateway-icon
{
    z-index: 1;
    position: absolute;
    top: 4.25%;
    left: 3.5%;
    width: 4.5%;
    height: auto;
}

.dashboard-page-view-gateway-text
{
    position: absolute;
    overflow-wrap: break-word;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    text-align: left;
}

.dashboard-page-view-gateway-button
{
    position: absolute;
    background-color: #005570;
    border-radius: 6px;
    top: 67%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 10%;
    cursor: pointer;
    opacity: 0.5;
}

.dashboard-page-view-gateway-button:hover
{
    filter: brightness(120%);
}

.dashboard-page-view-gateway-button-icon
{
    position: absolute;
    top: 25%;
    left: 8%;
    width: 7%;
    height: auto;
    opacity: 1;
}

.dashboard-page-view-gateway-button-text
{
    position: absolute;
    color: #FFFFFF;
    font-family: "work sans", sans-serif;
    font-size: max(0.8vw, 11.52px);
    font-weight: 400;
    top: 25%;
    left: 20%;
    opacity: 1;
}

.dashboard-page-view-gateway-updated-text
{
    position: absolute;
    color: #6D6E71;
    font-family: "work sans", sans-serif;
    font-size: max(0.7vw, 10.08px);
    font-weight: 500;
    top: 90%;
    width: 100%;
}

/* light status */

.dashboard-page-view-status-container
{
    position: absolute;
    top: 77.5%;
    right: 0%;
    width: 100%;
    height: 24.933%;
}

.dashboard-page-view-status-header
{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 13.5%;
}

.dashboard-page-view-status-headerimg
{
    position: absolute;
    top: -13%;
    left: -0.28%;
    width: 100.7%;
}

.dashboard-page-view-status-header-text
{
    z-index: 1;
    position: absolute;
    color: #000000;
    font-family: "work sans", sans-serif;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    margin-top: 0.7%;
    left: 4.3%;
}

.dashboard-page-view-status-icon
{
    z-index: 1;
    position: absolute;
    top: 1%;
    left: 1%;
    width: 2.25%;
    height: auto;
}

.dashboard-page-view-status-header-divider
{
    z-index: 0;
    position: absolute;
    background-color: #C6C6C6;
    top: 1.8%;
    left: 96.9%;
    width: 0.1%;
    height: 7.6%;
}

.dashboard-page-view-status-refresh
{
    z-index: 0;
    position: absolute;
    top: 3.2%;
    left: 97.8%;
    width: 1.32%;
    height: auto;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    cursor: pointer;
}

.dashboard-page-view-status-refresh:hover
{
    transform: scale(1.1);
}

.dashboard-page-view-status-show
{
    position: absolute;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 600;
    top: 0.9%;
    left: 82.6%;
}

.dashboard-page-view-status-entries
{
    position: absolute;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 600;
    top: 0.9%;
    left: 91.7%;
}

.dashboard-page-view-status-ddcontainer
{
    position: absolute;
    top: 1.1%;
    left: 86.3%;
    width: 4.5%;
    height: 8%;
}

.dashboard-page-view-status-table-container
{
    font-family: "work sans", sans-serif;
    font-weight: 400;
    font-size: max(0.8vw, 11.52px);
    width: 93%;
    margin-top: 7%;
    margin-left: 3.55%;
    margin-right: 3.55%;
}

.dashboard-page-view-status-table-header-name
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 17%;
    left: 5.4%;
    cursor: pointer;
    user-select: none;
}

.dashboard-page-view-status-table-header-date
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 17%;
    left: 26.6%;
    cursor: pointer;
    user-select: none;
}

.dashboard-page-view-status-table-header-time
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 17%;
    left: 50%;
    cursor: pointer;
    user-select: none;
}

.dashboard-page-view-status-table-header-status
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 17%;
    left: 73.35%;
    cursor: pointer;
    user-select: none;
}

.dashboard-page-view-status-table-divider
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 24%;
    width: 93%;
    height: 0%;
    opacity: 0.8
}

.dashboard-page-view-status-table-divider2
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 90.3%;
    width: 93%;
    height: 0%;
    opacity: 0.8
}

.dashboard-page-view-status-table
{
    padding-top: 2.2%;
    width: 100%;
    border-collapse: collapse;
}

.dashboard-page-view-status-table tr:nth-child(odd)
{
    background-color: #F7F7F7;
}

.dashboard-page-view-status-table-name
{
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    width: 10%;
    padding-top: 0.4%;
    padding-left: 1.9%;
}

.dashboard-page-view-status-table-date
{
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    width: 10.2%;
    padding-top: 0.4%;
}

.dashboard-page-view-status-table-time
{
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    width: 10.2%;
    padding-top: 0.4%;
}

.dashboard-page-view-status-table-status
{
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    width: 10.2%;
    padding-top: 0.4%;
}

.dashboard-page-view-status-showing
{
    position: absolute;
    color: #6D6E71;
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: max(0.8vw, 11.52px);
    top: 93.4%;
    left: 4.21%;
}

.dashboard-page-view-status-pagination-container
{
    position: absolute;
    top: 93%;
    left: 67%;
    width: 30%;
    height: 5.5%;
}

.dashboard-page-view-status-prev
{
    color: #C6C6C6;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);

    cursor: default;
    float: right;
    user-select: none;
}

.dashboard-page-view-status-prev-active
{
    color: #005570;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);

    cursor: pointer;
    float: right;
    user-select: none;
}

.dashboard-page-view-status-prev-active:hover
{
    filter: brightness(120%);
}

.dashboard-page-view-status-next
{
    color: #C6C6C6;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);

    cursor: default;
    float: right;
    margin-left: 5%;
    user-select: none;
}

.dashboard-page-view-status-next-active
{
    color: #005570;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);

    cursor: pointer;
    float: right;
    margin-left: 5%;
    user-select: none;
}

.dashboard-page-view-status-next-active:hover
{
    filter: brightness(120%);
}

.dashboard-page-view-status-page
{
    color: #005570;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);
    
    cursor: pointer;
    float: right;
    margin-left: 5%;
    user-select: none;
}

.dashboard-page-view-status-page-current
{
    color: #C6C6C6;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);
    
    cursor: default;
    float: right;
    margin-left: 5%;
    user-select: none;
}