/* ---- dashboard --- */

.dashboard
{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: overlay;
}

.dashboard .header
{
    z-index: 3;
    position: absolute;
    background: #FFFFFF;
    border-bottom: 1px solid #C6C6C6;
    top: 0%;
    width: 100%;
    height: 7%;
}

.dashboard .path-container
{
    position: absolute;
    top: 2.5%;
    left: 180%;
    height: 3%;
    width: 600%;
}

.dashboard .path-container h1
{
    color: #6D6E71;
    display: inline;
    font-size: max(1vw, 14.4px);
    font-weight: 600;
    text-align: left;
    margin: 0% 0% 0% 1%;
    cursor: pointer;
}

.dashboard .path-container h1:hover
{
    filter: brightness(140%);
}

.dashboard .path-container span .arrow
{
    margin: 0% 0% 0% 1%;
    pointer-events: none;
}

.dashboard .path-container h1:first-child:not(.arrow)
{
    margin: 0%;
}

.dashboard .path-container span:last-child h1:not(.arrow)
{
    color: #005570;
    font-weight: 700;
}

.dashboard .header .divider
{
    z-index: 1;
    position: absolute;
    background-color: #C6C6C6;
    top: 50%;
    transform: translate(0%, -50%);
    margin-left: 84.5%;
    width: 0.05%;
    height: 52.63%;
}

.dashboard .dropdown-container
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.dashboard .dropdown-container > div
{
    z-index: 10;
    position: relative;
    display: inline-block;
    top: 8.89%;
    margin-left: 1.9%;
    width: 15.1%;
    height: 5.75%;
}

.dashboard .dropdown-container > div:nth-child(1)
{
    margin-left: 12.1%;
}

.dashboard .map
{
    position: absolute;
    top: 17.5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 78.5%;
    height: 78.175%;
}

/* footer variants */

#view
{
    bottom: -88%;
}

#config
{
    bottom: -38%;
}