/* ---- dashboard --- */

.dashboard-page
{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: overlay;
}

.dashboard-page-header
{
  z-index: 3;
  position: absolute;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #C6C6C6;
  opacity: 1;
  width: 100%;
  height: 7%;
  top: 0vh;
}

.dashboard-page-header-searchiconimg
{
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(0%, -50%);
  width: 1.13%;
  height: 28.4%;
}

.dashboard-page-header-searchbar
{
  z-index: 3;
  position: absolute;
  background-color: #F8F9FA;
  top: 50%;
  margin-left: 50.98%;
  border: none;
  outline: none;
  border-radius: 24px;
  transform: translate(0%, -50%);
  width: 26%;
  height: 52.6%;
  padding-left: 3%;
}

.dashboard-page-header-paths
{
  position: absolute;
  top: 2.5%;
  left: 180%;
  height: 3%;
  width: 600%;
}

.dashboard-page-header-patharrows
{
  color: #6D6E71;
  font-family: "work sans", sans-serif;
  background: none;
  font-size: max(1vw, 14.4px);
  font-weight: 600;
  display: inline;
  margin-left: 1%;
  cursor: default;
}

.dashboard-page-header-dashboardtext
{
  color: #6D6E71;
  font-family: "work sans", sans-serif;
  background: none;
  font-size: max(1vw, 14.4px);
  font-weight: 600;
  display: inline;
  cursor: pointer;
}

.dashboard-page-header-dashboardtext:hover
{
  filter: brightness(140%);
}

.dashboard-page-header-dashboardtext:last-child
{
  color: #005570;
  font-weight: 700;
}

.dashboard-page-header-buttontext
{
  color: #6D6E71;
  font-family: "work sans", sans-serif;
  background: none;
  font-size: max(1vw, 14.4px);
  font-weight: 600;
  text-align: left;
  display: inline;
  margin-left: 1%;
  cursor: pointer;
}

.dashboard-page-header-buttontext:hover
{
  filter: brightness(140%);
}

.dashboard-page-header-buttontext-selected
{
  color: #005570;
  font-family: "work sans", sans-serif;
  background: none;
  font-size: max(1vw, 14.4px);
  font-weight: 700;
  text-align: left;
  display: inline;
  margin-left: 1%;
  cursor: pointer;
}

.dashboard-page-header-buttontext-selected:hover
{
  filter: brightness(140%);
}

.dashboard-page-header-divider
{
  z-index: 1;
  position: absolute;
  background-color: #C6C6C6;
  top: 50%;
  transform: translate(0%, -50%);
  margin-left: 84.5%;
  width: 0.05%;
  height: 52.63%;
}

.dashboard-page-sidebar
{
  z-index: 4;
  position: absolute;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-right: 1px solid #C6C6C6;
  border-bottom: 1px solid #C6C6C6;
  left: 0;
  top: 0;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
  transition-duration: .3s;
  transform: translate3d(0%, 0px, 0px);
  width: 6.7%;
  height: 99.8%;
}

.dashboard-page-sidebar-togglebtnimg
{
  padding-top: 25%;
  width: 60%;
  height: 50%;
}

.dashboard-page-sidebar-togglebtn
{
  z-index: 1;
  background: none;
  background-size: contain;
  position: absolute;
  border: none;
  outline: none;
  width: 50%;
  height: 6%;
  left: 117%;
  top: 0.5%;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
  transition-duration: .2s;
  cursor: pointer;
}

.dashboard-page-sidebar-togglebtn:hover
{
  transform: scale(1.1);
}

.dashboard-page-sidebar-logo
{
  position: absolute;
  top: 3.2%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 60.7%;
  height: 1.5%;
}

.dashboard-page-sidebar-icon-container
{
  position: relative;
  width: 100%;
  height: 80%;
  top: 5%;
}

.dashboard-page-sidebar-icon
{
  width: 35.4%;
  height: 5.4%;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
  transition-duration: .2s;
  cursor: pointer;
}

.dashboard-page-sidebar-icon:hover
{
  transform: scale(1.2);
}

.dashboard-page-sidebar-icon-image
{
  z-index: 1;
  position: relative;
  top: 18%;
  left: 15%;
  width: 70%;
  height: auto;
}

.dashboard-page-sidebar-icon-selected
{
  z-index: 1;
  position: relative;
  top: 2%;
  left: -2%;
  width: 99%;
  height: auto;
}

.dashboard-page-sidebar-darkmode-container
{
  position: absolute;
  border: 2.5px solid #005570;
  border-radius: 14px;
  top: 97%;
  left: 39%;
  width: 18%;
  height: 0.6%;
  cursor: pointer;
  opacity: 0.5;
}

.dashboard-page-sidebar-icon-darkmode-circle
{
  z-index: 1;
  position: absolute;
  width: 75%;
  height: 320%;

  border-radius: 50%;
  background-color: #005570;

  transition-property: transform;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
  transition-duration: .2s;
  transform: translate(-25%, -35%);
}

.dashboard-page-sidebar-bottomtext
{
  position: absolute;
  bottom: 0.7%;
  left: 25%;
  text-align: center;
}

.dashboard-page-sidebar-bottomtext-timestamptext
{
  z-index: -1;
  color: #6D6E71;
  font-family: "work sans", sans-serif;
  font-size: max(0.7vw, 10.08px);
  font-weight: 500;
  opacity: 1.0;
}

.dashboard-page-sidebar-bottomtext-versiontext
{
  z-index: -1;
  color: #6D6E71;
  font-family: "work sans", sans-serif;
  font-size: max(0.7vw, 10.08px);
  font-weight: 500;
  opacity: 1.0;
  padding-top: 5%;
}

.dashboard-page-selector
{
  position: absolute;
  width: 100%;
  height: 100%;
}

.dashboard-page-selector-0
{
  position: absolute;
  top: 8.89%;
  left: 12.1%;
  width: 15.1%;
  height: 5.75%;
}

.dashboard-page-selector-1
{
  position: absolute;
  top: 8.89%;
  left: 29.1%;
  width: 15.1%;
  height: 5.75%;
}

.dashboard-page-selector-2
{
  position: absolute;
  top: 8.89%;
  left: 46.1%;
  width: 15.1%;
  height: 5.75%;
}

.dashboard-page-selector-3
{
  position: absolute;
  top: 8.89%;
  left: 63.1%;
  width: 15.1%;
  height: 5.75%;
}

.dashboard-page-selector-sgmapimg
{
  position: absolute;
  top: 17.5%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 78.5%;
  height: 78.175%;
}

.dashboard-page-footer
{
  position: absolute;
  background: #F7F7F7 0% 0% no-repeat padding-box;
  color: #6D6E71;
  font-size: max(0.7vw, 10.08px);
  font-weight: 500;
  width: 100%;
  height: 4vh;
  bottom: 0vh;
}

.dashboard-page-footer-copyright
{
  position: absolute;
  text-align: center;
  font: inherit;
  width: 100%;
  top: 10%;
}

.dashboard-page-footer-privacy
{
  position: absolute;
  font: inherit;
  left: 82%;
  top: 10%;
}

/* ------------------ */

/* input placeholders */

#searchbar::placeholder /* Chrome, Firefox, Opera, Safari 10.1+ */
{ 
  color: #C6C6C6;
  font-family: "work sans", sans-serif;
  font-size: max(0.9vw, 12.96px);
  font-weight: 400;
  opacity: 0.4;
  text-align: left;
}
  
#searchbar:-ms-input-placeholder /* Internet Explorer 10-11 */
{ 
  color: #C6C6C6;
  font-family: "work sans", sans-serif;
  font-size: max(0.9vw, 12.96px);
  font-weight: 400;
  opacity: 0.4;
  text-align: left;
}
  
#searchbar::-ms-input-placeholder /* Microsoft Edge */
{ 
  color: #C6C6C6;
  font-family: "work sans", sans-serif;
  font-size: max(0.9vw, 12.96px);
  font-weight: 400;
  opacity: 0.4;
  text-align: left;
}

/* ------------------ */