.user-management-page
{
    position: absolute;
    top: 17%;
    left: 12%;
    width: 81%;
    height: 75%;
}

.user-management-btn
{
    position: absolute;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: max(0.9vw, 12.96px);
    font-weight: 600;
    text-align: center;
    line-height: 185%;
    top: 98.5%;
    width: 14%;
    height: 4%;
    cursor: pointer;
}

.user-management-btn:hover
{
    filter: brightness(120%);
}

.user-management-btn#revoke
{
    background-color: #C6C6C6;
    left: 32%;
}

.user-management-btn#update
{
    background-color: #005570;
    left: 48%;
}

/* add cards */

.add-container
{
    position: absolute;
    top: -11.5%;
    left: 80%;
    width: 24%;
    height: 110%;
}

.add-container .user-management-add-group
{
    position: inline-block;
    width: 100%;
}

.add-container .user-management-add-user
{
    position: inline-block;
    margin-top: 5%;
    width: 100%;
}