/* common elements */

.view-page
{
  position: absolute;
  top: 17%;
  left: 12%;
  width: 81%;
  height: 150%;
}

.view-page .export-btn
{
    position: absolute;
    top: -3.26%;
    left: 90.22%;
    width: 10%;
    height: auto;
    cursor: pointer;
}

.view-page .export-btn:hover
{
    filter: brightness(120%);
}

.view-page .small-container, .medium-container, .large-container
{
    position: absolute;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
}

.small-container
{
    width: 31.8%;
    height: 24.933%;
}

.medium-container
{
    width: 48.8%;
    height: 22.667%;
}

.large-container
{
    width: 65.8%;
    height: 24.933%;
}

.full-container
{
    
}

.small-header, .medium-header
{
    position: absolute;
    top: -0.5%;
    left: -0.25%;
    width: 100.1%;
}

.small-header
{
    height: 13.5%;
}

.medium-header
{
    height: 15.3%;
}

.large-header
{
    position: absolute;
    top: -0.5%;
    left: -0.25%;
    width: 100.1%;
    height: 13.5%;
}

.full-header
{

}

.small-header .bg
{
    position: absolute;
    top: -13%;
    left: -0.8%;
    width: 102%;
}

.medium-header .bg
{
    position: absolute;
    top: -4%;
    left: -0.55%;
    width: 101.502%;
}

.large-header .bg
{
    position: absolute;
    top: -15%;
    left: -0.4%;
    width: 101.12%;
    height: auto;
}

.view-page .icon
{
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 2.5%;
    width: 2.3%;
    height: auto;
}

.header-text
{
    z-index: 1;
    position: absolute;
    color: #000000;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    padding-top: 0.3%;
    left: 8%;
}

.medium-container#top-left .header-text, 
.medium-container#top-right .header-text
{
    color: #FFFFFF;
}

/* top row refresh buttons */

.view-page .refresh
{
    z-index: 1;
    position: absolute;
    top: 26%;
    left: 88%;
    width: 2.7%;
    height: auto;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    cursor: pointer;
}

.view-page .refresh:hover
{
    transform: scale(1.1);
}

/* top row dividers */

.header-divider
{
    z-index: 0;
    position: absolute;
    background-color: #005596;
    top: 15%;
    left: 93.5%;
    width: 0.1%;
    height: 58%;
}

/* top row info rollovers */

.view-page .info
{
    z-index: 0;
    position: absolute;
    top: -5%;
    left: 93.6%;
    width: 7%;
    height: auto;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    cursor: pointer;
    opacity: 0.5;
}

.view-page .info:hover
{
    transform: scale(1.1);
}

/* number of entries selector */

.pagination-container
{
    position: absolute;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);
}

.pagination-container > div
{
    color: #C6C6C6;
    float: right;
    user-select: none;
    cursor: default;
}

.pagination-container .default
{
    margin-left: 5%;
}

.pagination-container .left
{
    margin-left: 0%;
}

.pagination-container #active
{
    color: #005570;
    cursor: pointer;
}

.pagination-container #active:hover
{
    filter: brightness(120%);
}

/* light status */

.dashboard-page-view-status-container
{
    position: absolute;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    top: 77.5%;
    right: 0%;
    width: 100%;
    height: 24.933%;
}

.dashboard-page-view-status-header
{
    position: absolute;
    top: -0.5%;
    left: -0.1%;
    width: 100.1%;
    height: 13.5%;
}

.dashboard-page-view-status-headerimg
{
    position: absolute;
    top: -13%;
    left: -0.28%;
    width: 100.7%;
}

.dashboard-page-view-status-header-text
{
    z-index: 1;
    position: absolute;
    color: #000000;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    margin-top: 0.7%;
    left: 4.3%;
}

.dashboard-page-view-status-icon
{
    z-index: 1;
    position: absolute;
    top: 1%;
    left: 1%;
    width: 2.25%;
    height: auto;
}

.dashboard-page-view-status-header-divider
{
    z-index: 0;
    position: absolute;
    background-color: #C6C6C6;
    top: 1.8%;
    left: 96.9%;
    width: 0.1%;
    height: 7.6%;
}

.dashboard-page-view-status-refresh
{
    z-index: 1;
    position: absolute;
    top: 2.5%;
    left: 97.8%;
    width: 1.32%;
    height: auto;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    cursor: pointer;
}

.dashboard-page-view-status-refresh:hover
{
    transform: scale(1.1);
}

.dashboard-page-view-status-show
{
    position: absolute;
    font-size: max(0.75vw, 10.8px);
    font-weight: 600;
    top: 0.9%;
    left: 82.6%;
}

.dashboard-page-view-status-entries
{
    position: absolute;
    font-size: max(0.75vw, 10.8px);
    font-weight: 600;
    top: 0.9%;
    left: 91.7%;
}

.dashboard-page-view-status-ddcontainer
{
    position: absolute;
    top: 1.1%;
    left: 86.3%;
    width: 4.5%;
    height: 8%;
}

.dashboard-page-view-status-table-container
{
    font-weight: 400;
    font-size: max(0.8vw, 11.52px);
    width: 93%;
    margin-top: 6.75%;
    margin-left: 3.55%;
    margin-right: 3.55%;
}

.dashboard-page-view-status-table-header-name
{
    position: absolute;
    color: #333132;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 17%;
    left: 5.4%;
    cursor: pointer;
    user-select: none;
}

.dashboard-page-view-status-table-header-date
{
    position: absolute;
    color: #333132;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 17%;
    left: 26.6%;
    cursor: pointer;
    user-select: none;
}

.dashboard-page-view-status-table-header-time
{
    position: absolute;
    color: #333132;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 17%;
    left: 50%;
    cursor: pointer;
    user-select: none;
}

.dashboard-page-view-status-table-header-status
{
    position: absolute;
    color: #333132;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 17%;
    left: 73.35%;
    cursor: pointer;
    user-select: none;
}

.dashboard-page-view-status-table-divider
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 24%;
    width: 93%;
    height: 0%;
    opacity: 0.8
}

.dashboard-page-view-status-table-divider2
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 90.3%;
    width: 93%;
    height: 0%;
    opacity: 0.8
}

.dashboard-page-view-status-table
{
    padding-top: 2.2%;
    width: 100%;
    border-collapse: collapse;
}

.dashboard-page-view-status-table tr:nth-child(odd)
{
    background-color: #F7F7F7;
}

.dashboard-page-view-status-table-name
{
    color: #333132;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    width: 10%;
    padding-top: 0.4%;
    padding-left: 1.9%;
}

.dashboard-page-view-status-table-date
{
    color: #333132;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    width: 10.2%;
    padding-top: 0.4%;
}

.dashboard-page-view-status-table-time
{
    color: #333132;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    width: 10.2%;
    padding-top: 0.4%;
}

.dashboard-page-view-status-table-status
{
    color: #333132;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    width: 10.2%;
    padding-top: 0.4%;
}

.dashboard-page-view-status-showing
{
    position: absolute;
    color: #6D6E71;
    font-weight: 500;
    font-size: max(0.8vw, 11.52px);
    top: 93.4%;
    left: 4.21%;
}

.dashboard-page-view-status-pagination-container
{
    position: absolute;
    top: 93%;
    left: 67%;
    width: 30%;
    height: 5.5%;
}

.dashboard-page-view-status-prev
{
    color: #C6C6C6;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);

    cursor: default;
    float: right;
    user-select: none;
}

.dashboard-page-view-status-prev-active
{
    color: #005570;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);

    cursor: pointer;
    float: right;
    user-select: none;
}

.dashboard-page-view-status-prev-active:hover
{
    filter: brightness(120%);
}

.dashboard-page-view-status-next
{
    color: #C6C6C6;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);

    cursor: default;
    float: right;
    margin-left: 5%;
    user-select: none;
}

.dashboard-page-view-status-next-active
{
    color: #005570;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);

    cursor: pointer;
    float: right;
    margin-left: 5%;
    user-select: none;
}

.dashboard-page-view-status-next-active:hover
{
    filter: brightness(120%);
}

.dashboard-page-view-status-page
{
    color: #005570;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);
    
    cursor: pointer;
    float: right;
    margin-left: 5%;
    user-select: none;
}

.dashboard-page-view-status-page-current
{
    color: #C6C6C6;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);
    
    cursor: default;
    float: right;
    margin-left: 5%;
    user-select: none;
}