.photosensor-page
{
    position: absolute;
    top: 17%;
    left: 12%;
    width: 81%;
    height: 75%;
}

.photosensor-page .card-container
{
    height: 49.653%;
}

.photosensor-page .card-container:nth-child(2)
{
    margin-left: 2.3%;
    margin-right: 2.3%;
}

.photosensor-page-btn
{
    position: absolute;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: max(0.9vw, 12.96px);
    font-weight: 600;
    text-align: center;
    line-height: 185%;
    top: 98.5%;
    width: 14%;
    height: 4%;
    cursor: pointer;
}

.photosensor-page-btn:hover
{
    filter: brightness(120%);
}

.photosensor-page-btn#cancel
{
    background-color: #C6C6C6;
    left: 32%;
}

.photosensor-page-btn#submit
{
    background-color: #005570;
    left: 48%;
}