.config-page
{
    position: absolute;
    top: 17%;
    left: 12%;
    width: 81%;
    height: 100%;
}

.config-page .card-container
{
    margin-bottom: 2%;
    height: 37.24%;
    vertical-align: top;
}

.config-page .card-container:nth-child(2)
{
    margin-left: 2.3%;
    margin-right: 2.3%;
}

.config-page-btn
{
    position: absolute;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: max(0.9vw, 12.96px);
    font-weight: 600;
    text-align: center;
    line-height: 185%;
    top: 110%;
    width: 14%;
    height: 3%;
    cursor: pointer;
}

.config-page-btn:hover
{
    filter: brightness(120%);
}

.config-page-btn#cancel
{
    background-color: #C6C6C6;
    left: 32%;
}

.config-page-btn#submit
{
    background-color: #005570;
    left: 48%;
}

/* header buttons */

.card-toggle-btn
{
    z-index: 1;
    position: absolute;
    background-color: #005570;
    border-radius: 14px;
    top: 22.5%;
    height: 55%;
    cursor: pointer;
}

.card-toggle-btn .circle
{
    z-index: 1;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px #00000029;
    border: 1px solid #005570;
    border-radius: 50%;
    width: 58%;
    height: 91%;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    /* -10%, 75% */
    transform: translate(75%, 0%);
}

/* common labels */

.card-label
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-size: max(0.8vw, 11.52px);
    font-weight: 600;
    left: 9%;
}

.card-label#label0
{
    top: 20%;
}

.card-label#label1
{
    top: 47%;
}

.card-label#label2
{
    top: 74%;
}

/* common headers */

.dashboard-page-config-card-header0
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 20%;
    left: 9%;
}

.dashboard-page-config-card-header1
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 47%;
    left: 9%;
}

.dashboard-page-config-card-header2
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 74%;
    left: 9%;
}