.sidebar
{
    z-index: 3;
    position: absolute;
    background: #FFFFFF;
    border-right: 1px solid #C6C6C6;
    border-bottom: 1px solid #C6C6C6;
    top: 0%;
    left: 0%;
    width: 6.7%;
    height: 99.85%;
    
    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .2s;
    transform: translate3d(0%, 0px, 0px);
}

.sidebar .toggle
{
    z-index: 1;
    position: absolute;
    background: none;
    border: none;
    outline: none;
    width: 50%;
    height: 6%;
    left: 117%;
    top: 0.5%;
    cursor: pointer;
}

.sidebar .toggle:hover
{
    transform: scale(1.1);
}

.sidebar .toggle img
{
    padding-top: 25%;
    width: 60%;
    height: 50%;
}

.sidebar .logo
{
    position: absolute;
    top: 3.2%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 60.7%;
    height: 1.5%;
}

.sidebar .icon-container
{
    position: relative;
    width: 100%;
    height: 80%;
    top: 5%;
    transition: inherit;
}

.sidebar .icon
{
    position: relative;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 35.4%;
    height: 5.4%;

    transition: inherit;
    cursor: pointer;
}

.sidebar .icon:hover
{
    transform: scale(1.15);
}

.sidebar .icon .base
{
    z-index: 1;
    position: relative;
    top: 18%;
    left: 24%;
    width: 52%;
    height: auto;
}

.sidebar .icon .bg
{
    z-index: 0;
    position: relative;
    top: -68%;
    left: -1%;
    width: 101%;
    height: auto;
}

.sidebar .darkmode-container
{
    position: absolute;
    opacity: 0.5;
    border: 2.5px solid #005570;
    border-radius: 14px;
    top: 88.5%;
    left: 38%;
    width: 20%;
    height: 0.55%;
    cursor: pointer;
    transition: inherit;
}

.sidebar .darkmode-circle
{
    position: absolute;
    background-color: #005570;
    border-radius: 50%;
    width: 75%;
    height: 320%;
    transform: translate(-25%, -35%);
    transition: inherit;
}

.sidebar .text-container
{
    position: absolute;
    bottom: 0.7%;
    left: 25%;
    text-align: center;
}

.sidebar .text-container h1
{
    z-index: -1;
    color: #6D6E71;
    font-size: max(0.7vw, 10.08px);
    font-weight: 500;
}

.sidebar .text-container .version
{
    padding-top: 5%;
}