.view-page
{
    position: absolute;
    top: 17%;
    left: 12%;
    width: 81%;
    height: 160%;
}

.view-page .export-btn
{
    position: absolute;
    top: -3.26%;
    left: 90.22%;
    width: 10%;
    height: auto;
    cursor: pointer;
}

.view-page .export-btn:hover
{
    filter: brightness(120%);
}

.view-page .card-container
{
    margin-bottom: 2%;
    height: 23.275%;
}

/* BUGGGGGGGGGGGGGGG */

.view-page .card-container:nth-child(even)
{
    margin-left: 2.3%;
}

/* refresh buttons */

.view-page .refresh
{
    z-index: 1;
    position: absolute;
    top: 31%;
    height: auto;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    cursor: pointer;
}

.view-page .refresh:hover
{
    transform: scale(1.1);
}

/* dividers */

.view-page .header-divider
{
    z-index: 0;
    position: absolute;
    top: 18.75%;
    width: 1px;
    height: 62.5%;
}

/* info icons */

.view-page .info
{
    z-index: 0;
    position: absolute;
    opacity: 0.5;
    height: auto;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    cursor: pointer;
}

.view-page .info:hover
{
    transform: scale(1.1);
}

/* number of entries selector (for tables) */

.pagination-container
{
    position: absolute;
    font-weight: 600;
    font-size: max(0.91vw, 13.17px);
}

.pagination-container > div
{
    color: #C6C6C6;
    float: right;
    user-select: none;
    cursor: default;
}

.pagination-container .default
{
    margin-left: 5%;
}

.pagination-container .left
{
    margin-left: 0%;
}

.pagination-container #active
{
    color: #005570;
    cursor: pointer;
}

.pagination-container #active:hover
{
    filter: brightness(120%);
}