/* header */

.card-header#datacharts-energy .header-text
{
    left: 3.6637%;
}

.card-header#datacharts-energy .header-icon
{
    top: 30%;
    left: 1.2212%;
    width: 1.7%;
}

.datacharts-arrow-container
{
    width: 100%;
    height: 100%;
}

.datacharts-arrow-container .divider
{
    position: relative;
    float: right;
    top: 18.75%;
    width: 1px;
    height: 62.5%;
}

.datacharts-arrow-container .arrow
{
    position: relative;
    float: right;
    top: 50%;
    transform: translatey(-50%);
    margin-right: 0.8%;
    margin-left: 0.8%;
    width: 1.3%;
    height: auto;
    cursor: pointer;
}

/* graph */

.dashboard-page-datacharts-options-container
{
    position: absolute;
    top: 3%;
    left: 67%;
    width: 18%;
    height: 7.7%
}

.dashboard-page-datacharts-options-container .btn
{
    display: inline-block;
    cursor: pointer;
    color: #333132;
    font-size: max(0.7vw, 10.08px);
    font-weight: 600;
    border-radius: 3px;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 6%;
    padding-right: 6%;
}

.dashboard-page-datacharts-options-container .btn:hover
{
    background: #F5F2F2;
}

.dashboard-page-datacharts-options-container .btn#selected
{
    background: #E0E0E0;
}

.dashboard-page-datacharts-options-container .btn#selected:hover
{
    background: #E6E4E4;
}

.dashboard-page-datacharts-graph-container
{
    position: absolute;
    top: 25%;
    left: 2%;
    width: 44.9%;
    height: 70%;
}

.datacharts-label
{
    position: absolute;
    color: #212529;
    font-size: max(0.7vw, 10.08px);
    font-weight: 400;
    top: 18%;
}

.datacharts-label#label0
{
    left: 39.3%;
}

.datacharts-label#label1
{
    left: 45.1%;
}

.datacharts-img
{
    position: absolute;
    top: 19.7%;
    width: 0.95%;
    height: 3px;
}

.datacharts-img#img0
{
    background-color: #2CD9C5;
    left: 37.88%;
}

.datacharts-img#img1
{
    background-color: #826AF9;
    left: 43.68%;
}