.dashboard-page-editprofile
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.dashboard-page-editprofile-bg
{
    position: fixed;
    background-color: #000E1B;
    opacity: 0.85;
    width: 100%;
    height: 100%;
}

.dashboard-page-editprofile-container
{
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    margin-top: 9.3%;
    margin-left: 31%;
    width: 38.02%;
    height: 65.74%;
}

/* header */

.dashboard-page-editprofile-header
{
    position: absolute;
    background-color: #E0E0E0;
    box-shadow: 0px 2px 3px #00000029;
    border-radius: 6px 6px 0px 0px;
    top: 0%;
    width: 100%;
    height: 21.13%;
    text-align: center;
}

.dashboard-page-editprofile-header-text0
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.75vw, 10.8px);
    font-weight: 400;
    top: 20%;
    left: 8.904%;
}

.dashboard-page-editprofile-header-text1
{
    position: absolute;
    color: #005570;
    font-family: "work sans", sans-serif;
    font-size: max(1.2vw, 17.28px);
    font-weight: 500;
    top: 32.5%;
    left: 8.904%;
}

.dashboard-page-editprofile-header-img
{
    position: relative;
    top: 12.72%;
    width: 15%;
    height: auto;
}

.dashboard-page-editprofile-header-button
{
    position: absolute;
    top: 63%;
    left: 53.75%;
    width: 5.087%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-editprofile-header-button:hover
{
    transform: scale(1.1);
}

/* input */

.dashboard-editprofile-input
{
    position: absolute;
    color: #005570;
    font-family: "work sans", sans-serif;
    font-size: max(0.64vw, 10px);
    font-weight: 500;
    text-align: center;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    top: 25%;
    left: 8.905%;
    width: 82.19%;
    height: 3.5em;
}

/* input placeholders */

.dashboard-editprofile-input::placeholder /* Chrome, Firefox, Opera, Safari 10.1+ */
{ 
    color: #6D6E71;
    font-family: "work sans", sans-serif;
    font-size: max(0.64vw, 10px);
    font-weight: 400;
    opacity: 0.5;
    text-align: center;
}
  
.dashboard-editprofile-input::-ms-input-placeholder /* Internet Explorer 10-11 */
{ 
    color: #6D6E71;
    font-family: "work sans", sans-serif;
    font-size: max(0.64vw, 10px);
    font-weight: 400;
    opacity: 0.5;
    text-align: center;
}
  
.dashboard-editprofile-input::-ms-input-placeholder /* Microsoft Edge */
{ 
    color: #6D6E71;
    font-family: "work sans", sans-serif;
    font-size: max(0.64vw, 10px);
    font-weight: 400;
    opacity: 0.5;
    text-align: center;
}

/* ------------------ */

/* cancel and submit buttons */

.dashboard-page-editprofile-cancel
{
    position: absolute;
    background-color: #C6C6C6;
    border-radius: 6px;

    color: #FFFFFF;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.9vw, 12.96px);
    text-align: center;

    top: 92.5%;
    left: 18.2%;
    width: 29.8%;
    height: 4.55%;
    line-height: 185%;

    cursor: pointer;
}

.dashboard-page-editprofile-cancel:hover
{
    filter: brightness(105%);
}

.dashboard-page-editprofile-submit
{
    position: absolute;
    background-color: #005570;
    border-radius: 6px;

    color: #FFFFFF;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.9vw, 12.96px);
    text-align: center;

    top: 92.5%;
    left: 52.3%;
    width: 29.8%;
    height: 4.55%;
    line-height: 185%;

    cursor: pointer;
}

.dashboard-page-editprofile-submit:hover
{
    filter: brightness(120%);
}