.dashboard-page-editprofile
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.dashboard-page-editprofile-bg
{
    position: fixed;
    background-color: #000E1B;
    opacity: 0.85;
    width: 100vw;
    height: 100vh;
}

.dashboard-page-editprofile-container
{
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    margin-top: 9.3%;
    margin-left: 30.99%;
    width: 38.02%;
    height: 65.74%;
}

.dashboard-page-editprofile-header
{
    position: absolute;
    background-color: #E0E0E0;
    box-shadow: 0px 2px 3px #00000029;
    border-radius: 6px 6px 0px 0px;
    top: 0%;
    width: 100%;
    height: 21.13%;
}