.dropdown
{
    border: 1px solid #C6C6C6;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dropdown#disabled
{
    background-color: #f0f0f0;
    pointer-events: none;
}

.dropdown h1
{
    z-index: 0;
    position: absolute;
    color: #333132;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    opacity: 1.0;
    padding-left: 8px;
    top: -3%;
}

.dropdown h1#disabled
{
    opacity: 0.5;
}

.dropdown img
{
    position: absolute;
    top: 40%;
    right: 8px;
    transform: scale(0.85);
}

.dropdown ul
{
    z-index: -1;
    position: absolute;
    background-color: #FFFFFF;
    border-left: 1px solid #C6C6C6;
    border-right: 1px solid #C6C6C6;
    border-bottom: 1px solid #C6C6C6;
    border-radius: 6px;
    top: 100%;
    width: 99.5%;
    max-height: 700%;
    overflow-y: auto;
    list-style: none;
}

.dropdown ul:empty
{
    border: 10px solid #000000;
    width: 100px;
    height: 100px;
}

.dropdown ul li 
{
    color: #333132;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    padding: 8px 12px;
}

.dropdown ul li:hover 
{
    background-color: #e2e1e144;
    cursor: pointer;
}