/* global settings */

* 
{
    -webkit-font-smoothing: antialiased;
    font-family: "work sans", sans-serif;
}

/* force all headers to h1 default */

h1, h2, h3, h4, h5, h6
{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

body, ul
{
    margin: 0 !important;
    padding: 0 !important;
}

/* main page and bg */

.main
{
    position: relative;
    width: 100vw;
    height: 100vh;
    min-width: 1440px;
    min-height: 789px;
}

.main-bg
{
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 119%;
    margin-top: -10.95%;
}

.main-footer
{
    position: absolute;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    color: #6D6E71;
    font-size: max(0.7vw, 10.08px);
    font-weight: 500;
    width: 100%;
    height: 4vh;
    bottom: 0vh;
}

.main-footer-center
{
    position: absolute;
    text-align: center;
    font: inherit;
    width: 100%;
    top: 10%;
}

.main-footer-right
{
    position: absolute;
    font: inherit;
    left: 82%;
    top: 10%;
}

/* ------------------ */

/* input placeholders */

::placeholder /* Chrome, Firefox, Opera, Safari 10.1+ */
{
    color: #6D6E71;
    opacity: 0.4;
    font-size: max(1.05vw, 15.12px);
    font-weight: 400;
    text-align: center;
}

:-ms-input-placeholder /* Internet Explorer 10-11 */
{ 
    color: #6D6E71;
    opacity: 0.4;
    font-size: max(1.05vw, 15.12px);
    font-weight: 400;
    text-align: center;
}

::-ms-input-placeholder /* Microsoft Edge */
{ 
    color: #6D6E71;
    opacity: 0.4;
    font-size: max(1.05vw, 15.12px);
    font-weight: 400;
    text-align: center;
}

/* ----------------- */

/* --- login form -- */

.login-form
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28.8%;
    height: 71.5%;
}

.login-form h1
{
    position: absolute;
    color: #FFFFFF;
    font-size: max(1.6vw, 23.04px);
    font-weight: 600;
    top: 4%;
    left: 7.3%;
}

.login-form h2
{
    position: absolute;
    color: #009BA7;
    font-size: max(1.4vw, 20.16px);
    font-weight: 600;
    top: 34%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.login-form h3
{
    position: absolute;
    color: #C6C6C6;
    font-size: max(1.05vw, 15.12px);
    font-weight: 400;
    top: 40%;
    left: 68.5%;
    transform: translate(-50%, 0%);
    width: 100%;
}

.login-form h4
{
    position: absolute;
    color: #C6C6C6;
    font-size: max(0.85vw, 12.2px);
    font-weight: 500;
    top: 79.2%;
    left: 4.8%;
}

.login-form h5
{
    position: absolute;
    color: #009BA7;
    background: none;
    font-size: max(0.85vw, 12.2px);
    font-weight: 600;
    top: 81.8%;
    left: 4.8%;
    cursor: pointer;
}

.login-form h5:hover
{
    filter: brightness(140%);
}

.login-form h6
{
    position: absolute;
    color: #C6C6C6;
    opacity: 0.6;
    font-size: max(0.76vw, 11px);
    font-weight: 400;
    text-align: center;
    top: 91%;
    left: 5%;
    width: 90%;
}

.login-form-bg
{
    width: 100%;
    height: 100%;
}

.login-form-logo
{
    position: absolute;
    top: 17.8%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 66%;
    height: 10%;
}

.login-form-email
{
    position: absolute;
    top: 49.6%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 6px;
    opacity: 0.7;
    padding-left: 1%;
    padding-right: 1%;
    width: 89%;
    height: 9%;
    font-size: max(1.05vw, 15.12px);
    font-weight: 400;
    text-align: center;
}

.login-form-password
{
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 6px;
    opacity: 0.7;
    padding-left: 1%;
    padding-right: 1%;
    width: 89%;
    height: 9%;
    font-size: max(1.05vw, 15.12px);
    font-weight: 400;
    text-align: center;
}

.login-form-nextbtn
{
    background: url("../login/NEXT button@2x.png") 0% 0% no-repeat padding-box;
    background-size: contain;
    position: absolute;
    top: 80%;
    left: 63%;
    border: none;
    outline: none;
    width: 32.5%;
    height: 7.2%;
    cursor: pointer;
}

.login-page-form-nextbtn:hover
{
    filter: brightness(120%);
}

.login-form-line
{
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 1px;
    top: 90%;
    left: 0%;
}

/* ----------------- */

/* -- signup form -- */

/*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28.8%;
    height: 71.5%; 
*/

.signup-page-form
{
    position: absolute;
    width: 28.8%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-page-form-rect
{
    z-index: -1;
    width: 100%;
    height: 100%;
}

.signup-page-form-welcome
{
    position: absolute;
    color: #FFFFFF;
    font-size: max(1.6vw, 23.04px);
    font-weight: 600;
    top: 4%;
    left: 7.3%;
}

.signup-page-form-logo
{
    position: absolute;
    top: 16.6%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 66%;
    height: 8.937%;
}

.signup-page-form-signuptext
{
    color: #009BA7;
    font-size: max(1.4vw, 20.16px);
    font-weight: 600;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.signup-page-form-lmstext
{
    color: #C6C6C6;
    font-size: max(1.05vw, 15.12px);
    font-weight: 400;
    position: absolute;
    top: 37%;
    left: 68.5%;
    transform: translate(-50%, 0%);
    width: 100%;
}

.signup-page-form-email
{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 6px;
    opacity: 0.7;
    padding-left: 1%;
    padding-right: 1%;
    width: 89%;
    height: 8.045%;
    font-size: max(1.05vw, 15.12px);
    font-weight: 400;
    text-align: center;
}

.signup-page-form-password
{
    position: absolute;
    top: 56.5%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 6px;
    opacity: 0.7;
    padding-left: 1%;
    padding-right: 1%;
    width: 89%;
    height: 8.045%;
    font-size: max(1.05vw, 15.12px);
    font-weight: 400;
    text-align: center;
}

.signup-page-form-verifypassword
{
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 6px;
    opacity: 0.7;
    padding-left: 1%;
    padding-right: 1%;
    width: 89%;
    height: 8.045%;
    font-size: max(1.05vw, 15.12px);
    font-weight: 400;
    text-align: center;
}

.signup-page-form-nextbtn
{
    background: url("../login/NEXT button@2x.png") 0% 0% no-repeat padding-box;
    background-size: contain;
    position: absolute;
    top: 80%;
    left: 63%;
    border: none;
    outline: none;
    width: 32.5%;
    height: 6.5%;
    cursor: pointer;
}

.signup-page-form-nextbtn:hover
{
    filter: brightness(120%);
}

.signup-page-form-logintext
{
    color: #C6C6C6;
    font-size: max(0.85vw, 12.2px);
    font-weight: 500;
    position: absolute;
    top: 79.7%;
    left: 4.8%;
}

.signup-page-form-loginbtn
{
    background: none;
    border: none;
    outline: none;
    top: 82.3%;
    left: 4.8%;
    width: 100%;
    cursor: pointer;
}

.signup-page-form-loginbtntext
{
    color: #009BA7;
    background: none;
    font-size: max(0.85vw, 12.2px);
    font-weight: 600;
    position: absolute;
    border: none;
    outline: none;
    top: 82.3%;
    left: 4.8%;
    cursor: pointer;
}

.signup-page-form-loginbtntext:hover
{
    filter: brightness(140%);
}

.signup-page-form-line
{
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 1px;
    top: 91%;
    left: 0%;
}

.signup-page-form-agreetext
{
    color: #C6C6C6;
    font-size: max(0.76vw, 11px);
    font-weight: 400;
    position: absolute;
    text-align: center;
    top: 92%;
    left: 5%;
    width: 90%;
    opacity: 0.6;
}

/* ----------------- */