/* global settings */

* {
    -webkit-font-smoothing: antialiased;
    font-family: "work sans", sans-serif;
}

/* force all headers to h1 default */

h1, h2, h3, h4, h5, h6
{
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0.67em 0 0;
}

body, ul
{
    margin: 0 !important;
    padding: 0 !important;
}

/* main page and bg */

.main
{
    position: relative;
    width: 100vw;
    height: 100vh;
    min-width: 1440px;
    min-height: 789px;
}

.main-bg
{
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 119%;
    margin-top: -10.95%;
}

.footer
{
    position: absolute;
    background: #F7F7F7;
    color: #6D6E71;
    font-size: max(0.7vw, 10.08px);
    font-weight: 500;
    width: 100%;
    height: 4%;
    bottom: 0%;
}

.footer-center
{
    position: absolute;
    text-align: center;
    font: inherit;
    width: 100%;
    top: 10%;
}

.footer-right
{
    position: absolute;
    font: inherit;
    left: 82%;
    top: 10%;
}

/* input placeholders */

::placeholder
{
    color: #6D6E71;
    opacity: 0.4;
    font-size: max(1.05vw, 15.12px);
    font-weight: 400;
    text-align: center;
}

/* common form elements */

.entry-form
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28.8%;
}

.entry-form h1, h2, h3, h4, h5, h6
{
    position: absolute;
}

.entry-form h1
{
    color: #FFFFFF;
    font-size: max(1.6vw, 23.04px);
    font-weight: 600;
    top: 4%;
    left: 7.3%;
}

.entry-form h2
{
    color: #009BA7;
    font-size: max(1.4vw, 20.16px);
    font-weight: 600;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    text-align: center;
}

.entry-form h3
{
    color: #C6C6C6;
    font-size: max(1.05vw, 15.12px);
    font-weight: 400;
    left: 68.5%;
    transform: translate(-50%, 0%);
    width: 100%;
}

.entry-form h4
{
    color: #C6C6C6;
    font-size: max(0.85vw, 12.2px);
    font-weight: 500;
    left: 4.8%;
}

.entry-form h5
{
    color: #009BA7;
    font-size: max(0.85vw, 12.2px);
    font-weight: 600;
    left: 4.8%;
    cursor: pointer;
}

.entry-form h5:hover
{
    filter: brightness(140%);
}

.entry-form h6
{
    color: #C6C6C6;
    opacity: 0.6;
    font-size: max(0.76vw, 11px);
    font-weight: 400;
    text-align: center;
    top: 94.7%;
    left: 5%;
    width: 90%;
}

.entry-form .bg
{
    width: 100%;
    height: auto;
}

.entry-form .logo
{
    position: absolute;
    top: 17.8%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 66%;
    height: auto;
}

.entry-form .line
{
    position: absolute;
    opacity: 0.7;
    left: 0%;
    width: 100%;
    height: 1px;
}

.entry-form input
{
    position: absolute;
    transform: translate(-50%, 0%);
    border-radius: 6px;
    opacity: 0.7;
    padding: 0.25% 1%;
    font-size: max(1.05vw, 15.12px);
    font-weight: 400;
    text-align: center;
    left: 50%;
    width: 89%; 
}

.entry-form .btn
{
    position: absolute;
    top: 82.1%;
    left: 63%;
    width: 32.5%;
    cursor: pointer;
}

.entry-form .btn:hover
{
    filter: brightness(120%);
}

/* login form */

.entry-form#login
{
    height: 71.5%;
}

.entry-form#login h2
{
    top: 34%;
}

.entry-form#login h3
{
    top: 40%;
}

.entry-form#login h4
{
    top: 81.3%;
}

.entry-form#login h5
{
    top: 83.9%;
}

.entry-form#login h6
{
    top: 94.7%;
}

.entry-form#login .line
{
    top: 93.9%;
}

.entry-form#login input
{
    height: 9%;
}

.entry-form#login .input0
{
    top: 49.6%;
}

.entry-form#login .input1
{
    top: 61%;
}

.entry-form#login .btn
{
    top: 82.1%;
}

/* signup form */

.entry-form#signup
{
    height: 80%;
}

.entry-form#signup h2
{
    top: 32%;
}

.entry-form#signup h3
{
    top: 37%;
}

.entry-form#signup h4
{
    top: 79.7%;
}

.entry-form#signup h5
{
    top: 82.3%;
}

.entry-form#signup h6
{
    top: 91.7%;
}

.entry-form#signup .line
{
    top: 91%;
}

.entry-form#signup input
{
    height: 8.045%;
}

.entry-form#signup .input0
{
    top: 46%;
}

.entry-form#signup .input1
{
    top: 56.5%;
}

.entry-form#signup .input2
{
    top: 67%;
}

.entry-form#signup .btn
{
    top: 80.5%;
}