.three-ui-box#config
{
    top: 2%;
    right: 1.3%;
    width: 25%;
    height: 40%;
    pointer-events: all;
}

/* config text input */

.three-ui-box#config input
{
    position: relative;
    display: inline-block;
    background-color: rgb(255, 255, 255, 0.9);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    border-style: none;
    vertical-align: middle;
    font-size: max(0.8vw, 14.4px);
    font-weight: 500;
    padding: 2% 3% 2% 3%;
    width: 55.25%;
    left: 5.5%;
}

.three-ui-box#config input::placeholder
{
    text-align: left;
    font-size: max(0.8vw, 14.4px);
}

/* config block */

.three-ui-box#config .block
{
    display: inline-block;
    vertical-align: middle;
    margin-top: 4%;
    width: 100%;
    line-height: 180%;
}

/* config labels */

.three-ui-box#config .label
{
    position: relative;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 30%;
}

/* config buttons */

.three-ui-box#config .three-btn
{
    display: inline-block;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: max(0.8vw, 14.4px);
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    width: 29%;
    line-height: 150%;
    cursor: pointer;
    pointer-events: all;
}

.three-ui-box#config .three-btn#disabled
{
    pointer-events: none;
    opacity: 0.2;
}

.three-ui-box#config .three-btn:hover
{
    filter: brightness(120%);
}

.three-ui-box#config .three-btn.update
{
    margin-left: 35.5%;
}

.three-ui-box#config .three-btn.reset
{
    margin-left: 3.25%;
}

/* edit light name */

#edit-name .three-btn
{
    margin-top: 3%;
}

/* mode toggle */

#btn-group
{
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    bottom: 5%;
    left: 0%;
    width: 100%;
    line-height: 220%;
}

#btn-group .three-btn
{   
    margin-left: 3.25%;
}

#btn-group .three-btn:hover
{
    filter: brightness(120%);
}

/* groups */

#edit-group .three-btn
{
    margin-top: 3%;
}

/* trigger */

.three-ui-box#config .three-btn.trigger-edit
{
    margin-left: 5.5%;
}

.three-ui-box#config .three-btn.trigger-data
{
    margin-left: 3.25%;
}

/* trigger data side panel */

.three-ui-box#trigger-data
{
    top: 0%;
    left: -107%;
    width: 100%;
}

.three-ui-box#trigger-data .label
{
    vertical-align: top;
}

.three-ui-box#trigger-data .block#triggerees
{
    margin-bottom: 4%;
}

.three-ui-box#trigger-data .block .trigger-list
{
    display: inline-block;
    overflow-wrap: break-word;
    margin-left: 4%;
    margin-right: 3.25%;
    width: 62.75%;
}