.three-scene-page
{
    position: absolute;
    border: 1px solid #000000;
    top: 17%;
    left: 12%;
    width: 81%;
    height: 75%;
    user-select: none;
}

.three-scene-page .selection-box
{
    z-index: 10;
    position: absolute;
    background-color: rgba(107, 146, 255, 0.2);
    border: 1px solid #6B92FF;
    pointer-events: none;
}