.three-ui-box#group
{
    position: absolute;
    left: 37.5%;
    bottom: 2%;
    width: 25%;
    height: 20%;
    pointer-events: all;
}

.three-ui-box#group input
{
    position: relative;
    display: inline-block;
    background-color: rgb(255, 255, 255, 0.9);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    border-style: none;
    vertical-align: middle;
    font-size: max(0.8vw, 14.4px);
    font-weight: 500;
    padding: 2% 3% 2% 3%;
    width: 55.25%;
    left: 5.5%;
}

.three-ui-box#group input::placeholder
{
    text-align: left;
    font-size: max(0.8vw, 14.4px);
}

.three-ui-box#group .block
{
    display: inline-block;
    vertical-align: middle;
    margin-top: 4%;
    width: 100%;
    line-height: 180%;
}

.three-ui-box#group .label
{
    position: relative;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 30%;
}