.user-management-add
{
    position: relative;
    background-color: #F7F7F7;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 2px 3px #00000029;
    padding-top: 40%;
    width: 100%;
}

.user-management-add#open
{
    border-radius: 6px 6px 0px 0px;
}

.user-management-add .icon
{
    position: absolute;
    top: 14%;
    left: 6%;
    width: 11%;
    height: auto;
}

.user-management-add > h1
{
    position: absolute;
    left: 20%;
    margin-top: 0%;
}

.user-management-add > h1.big
{
    color: #333132;
    font-size: max(1vw, 15px);
    font-weight: 600;
    top: 20%;

}

.user-management-add > h1.small
{
    color: #6D6E71;
    font-size: max(0.64vw, 10px);
    font-weight: 500;
    margin-right: 15%;
    top: 40%;
}

.user-management-add .btn
{
    position: absolute;
    top: 70%;
    left: 20.2%;
    width: 63%;
    height: 19%;
    cursor: pointer;
}

.user-management-add .btn#disabled
{
    opacity: 0.5;
    pointer-events: none;
}

.user-management-add .btn:hover
{
    filter: brightness(120%);
}

.user-management-add .btn img
{
    position: absolute;
    width: 12%;
    height: auto;
}

.user-management-add .btn h1
{
    position: absolute;
    font-size: max(0.822vw, 12.857px);
    font-weight: 600;
    letter-spacing: 1.8px;
    margin: 0%;
    top: 15%;
    left: 16%;
    color: #F07E0B;
}

.dashboard-usermanagement-addbox-dropdown-container
{
    background-color: #FFFFFF;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px 3px 6px #00000029;
    margin-top: -2%;
    padding-top: 7%;
    width: 100%;
    text-align: center;
}

.dashboard-usermanagement-addbox-input
{
    color: #005570;
    font-size: max(0.64vw, 10px);
    font-weight: 500;
    text-align: center;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2%;
    width: 77.76%;
    height: 3.5em;
}

.dashboard-usermanagement-addbox-up
{
    position: absolute;
    top: 23%;
    left: 86%;
    width: 4.5%;
    height: auto;
    cursor: pointer;
}

.dashboard-usermanagement-addbox-up:hover
{
    transform: scale(1.2);
}

.dashboard-usermanagement-addbox-down
{
    position: absolute;
    top: 48%;
    left: 86%;
    width: 4.5%;
    height: auto;
    cursor: pointer;
}

.dashboard-usermanagement-addbox-down:hover
{
    transform: scale(1.2);
}

.dashboard-usermanagement-addbox-hide
{
    position: absolute;
    filter: invert(48%) sepia(0%) saturate(1159%) hue-rotate(148deg) brightness(92%) contrast(99%);
    top: 25%;
    right: 10%;
    width: 6%;
    height: auto;
    cursor: pointer;
}

.dashboard-usermanagement-addbox-hide:hover
{
    transform: scale(1.2);
}

.dashboard-usermanagement-addbox-submit
{
    background-color: #009BA7;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-size: max(0.64vw, 10px);
    font-weight: 500;
    margin-top: 8%;
    margin-bottom: 5%;
    width: 87.76%;
    height: 3.33em;
    cursor: pointer;
}

.dashboard-usermanagement-addbox-submit:hover
{
    filter: brightness(120%);
}

/* input placeholders */

.dashboard-usermanagement-addbox-input::placeholder /* Chrome, Firefox, Opera, Safari 10.1+ */
{ 
    color: #6D6E71;
    font-size: max(0.64vw, 10px);
    font-weight: 400;
    opacity: 0.5;
    text-align: center;
}
  
.dashboard-usermanagement-addbox-input::-ms-input-placeholder /* Internet Explorer 10-11 */
{ 
    color: #6D6E71;
    font-size: max(0.64vw, 10px);
    font-weight: 400;
    opacity: 0.5;
    text-align: center;
}
  
.dashboard-usermanagement-addbox-input::-ms-input-placeholder /* Microsoft Edge */
{ 
    color: #6D6E71;
    font-size: max(0.64vw, 10px);
    font-weight: 400;
    opacity: 0.5;
    text-align: center;
}

/* ------------------ */