.dashboard-page-header-user-dropdown
{
  position: absolute;
  border-bottom: 1px solid #C6C6C6;
  width: 15.4%;
  height: 100%;
  right: 0%;
  cursor: pointer;
}

.dashboard-page-header-user-dropdown-list
{
  z-index: -1;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.dashboard-page-header-user-dropdown-ul
{
  list-style: none;
}

.dashboard-page-header-user-dropdown-ul li 
{
  background: #F7F7F7 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #C6C6C6;
  padding-top: 9%;
}

.dashboard-page-header-user-dropdown-ul li:hover 
{
  background-color: #FFFFFF;
  cursor: pointer;
}

.dashboard-page-header-user-dropdown-li-name
{
  position: absolute;
  color: #6D6E71;
  font-family: "work sans", sans-serif;
  font-size: max(0.75vw, 10.8px);
  font-weight: 500;
  right: 47%;
}

.dashboard-page-header-user-dropdown-li-role
{
  position: absolute;
  color: #6D6E71;
  font-family: "work sans", sans-serif;
  font-size: max(0.7vw, 10.08px);
  font-weight: 300;
  padding-top: 6%;
  right: 47%;
}

.dashboard-page-header-user-dropdown-li-image
{
  transform: translate(410%, -17%);
  width: 15%;
  height: auto;
}

.dashboard-page-header-user-dropdown-li-misctext
{
  position: absolute;
  color: #6D6E71;
  font-family: "work sans", sans-serif;
  font-size: max(0.75vw, 10.8px);
  font-weight: 500;
  padding-top: 2.5%;
  right: 47%;
}

.dashboard-page-header-user-dropdown-li-logout
{
  position: absolute;
  color: #6D6E71;
  font-family: "work sans", sans-serif;
  font-size: max(0.75vw, 10.8px);
  font-weight: 500;
  margin-top: -1%;
  right: 47%;
}

.dashboard-page-header-user-dropdown-li-logouttime
{
  position: absolute;
  color: #6D6E71;
  font-family: "work sans", sans-serif;
  font-size: max(0.5vw, 7.2px);
  font-weight: 300;
  padding-top: 6%;
  right: 47%;
}

.dashboard-page-header-user-dropdown-name
{
  position: absolute;
  color: #005570;
  font-family: "work sans", sans-serif;
  font-size: max(0.75vw, 10.8px);
  font-weight: 500;
  top: 13%;
  right: 47%;
}

.dashboard-page-header-user-dropdown-role
{
  position: absolute;
  color: #6D6E71;
  font-family: "work sans", sans-serif;
  font-size: max(0.7vw, 10.08px);
  font-weight: 300;
  top: 40%;
  right: 47%;
}

.dashboard-page-header-user-dropdown-image
{
  transform: translate(410%, 30%);
  width: 15%;
  height: auto;
}

.dashboard-page-header-user-dropdown-arrow
{
  position: absolute;
  top: 50%;
  left: 82%;
  transform: translate(0%, -50%);
  width: 6%;
  height: 20%;
}