.medium-container#top-left
{
    top: 0%;
    left: 0%;
}

#blocklights
{
    position: absolute;
    border: 1px solid #E0E0E0;
}

#blocklights.divider0
{
    top: 56.75%;
    left: 4.1%;
    width: 91.8%;
    height: 0%;
}

#blocklights.divider1
{
    top: 56.75%;
    left: 34.7%;
    width: 0%;
    height: 37.1%;
}

#blocklights.divider2
{
    top: 19.75%;
    left: 65.3%;
    width: 0%;
    height: 74.2%;
}

.medium-container#top-left > h1
{
    position: absolute;
    color: #333132;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: 60.2%;
}

.medium-container#top-left .text-numlights
{
    top: 21.5%;
    left: 8%;
}

.medium-container#top-left .text-faults
{
    top: 21.5%;
    left: 74%;
}

.medium-container#top-left .text-on
{
    left: 14%;
}

.medium-container#top-left .text-off
{
    top: 60.2%;
    left: 45%;
}

.medium-container#top-left .text-dimmed
{
    top: 60.2%;
    left: 77%;
}

.medium-container#top-left > img
{
    position: absolute;
    height: auto;
}

.medium-container#top-left > .faults
{
    top: 23.7%;
    left: 69%;
    width: 4%;
}

.medium-container#top-left > .on
{
    top: 62.5%;
    left: 10.5%;
    width: 2.3%;
}

.medium-container#top-left > .off
{
    top: 62.5%;
    left: 41%;
    width: 2.3%;
}

.medium-container#top-left > .dimmed
{
    top: 62.5%;
    left: 72.5%;
    width: 2.3%;
}

.blocklights-value-container div
{
    position: absolute;
    text-align: center;
    width: 20%;
}

.blocklights-value-container .numlights
{
    text-align: left;
    top: 25%;
    left: 8%;
}

.blocklights-value-container .faults
{
    top: 25%;
    left: 73%;
}

.blocklights-value-container .on
{
    top: 64%;
    left: 8%;
}

.blocklights-value-container .off
{
    top: 64%;
    left: 41.8%;
}

.blocklights-value-container .dimmed
{
    top: 64%;
    left: 73%;
}

.blocklights-value
{
    color: #333132;
    font-weight: 600;
    font-size: max(2.4vw, 34.56px);
}