/* header */

.card-header#status .header-text
{
    left: 3.6637%;
}

.card-header#status .header-icon
{
    top: 28%;
    left: 1.2212%;
    width: 2%;
}

.card-header#status h1.show, .card-header#status h1.entries
{
    position: absolute;
    font-size: max(0.75vw, 10.8px);
    font-weight: 600;
    top: 18%;
}

.card-header#status .show
{
    left: 82.7342%;
}

.card-header#status .entries
{
    left: 91.7625%;
}

.card-header#status .dd-container
{
    position: absolute;
    top: 20%;
    left: 86.32575%;
    width: 4.631%;
    height: 55.23%;
}

.card-header#status .header-divider
{
    background-color: #C6C6C6;
    left: 96.705%;
}

.card-header#status .refresh
{
    left: 97.7%;
    width: 1.2521%;
}

/* table */

.status-header-divider
{
    z-index: 1;
    position: absolute;
    background-color: #C6C6C6;
    top: 19%;
    left: 96.9%;
    width: 0.1%;
    height: 58%;
}

.status-table-container
{
    font-size: max(0.8vw, 11.52px);
    font-weight: 400;
    margin: 6.75% 3.55% 0% 3.55%;
    width: 93%;
}

.status-table-header
{
    position: absolute;
    color: #333132;
    font-weight: 600;
    top: 17%;
    cursor: pointer;
    user-select: none;
}

.status-table-header#name
{
    left: 5.4%;
}

.status-table-header#date
{
    left: 26.6%;
}

.status-table-header#time
{
    left: 50%;
}

.status-table-header#status
{
    left: 73.35%;
}

.status-table-divider
{
    position: absolute;
    border: 1px solid #E0E0E0;
    opacity: 0.8;
    width: 93%;
    height: 0%;
}

.status-table-divider#divider0
{
    top: 24%;
}

.status-table-divider#divider1
{
    top: 90.3%;
}

.status-table
{
    padding-top: 2.2%;
    width: 100%;
    border-collapse: collapse;
}

.status-table tr:nth-child(odd)
{
    background-color: #F7F7F7;
}

.status-table td
{
    color: #333132;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    width: 10.2%;
    padding-top: 0.4%;
}

.status-table .name
{
    padding-left: 1.9%;
}

.status-bottomtext
{
    position: absolute;
    color: #6D6E71;
    font-weight: 500;
    font-size: max(0.8vw, 11.52px);
    top: 93.4%;
    left: 4.21%;
}

.pagination-container#status
{
    top: 93%;
    left: 67%;
    width: 30%;
    height: 5.5%;
}