/* header */

.card-header#energy-consumption
{
    background-color: #FCFCFC;
}

.card-header#energy-consumption .header-text
{
    top: 7%;
    left: 7.5%;
}

.card-header#energy-consumption .icon
{
    top: 26.5%;
    left: 2.5%;
    width: 3.5%;
}

.energy-consumption-axis
{
    position: absolute;
    color: #6D6E71;
    font-size: max(0.7vw, 10.08px);
    font-weight: 500;
}

.energy-consumption-axis#y
{
    top: 54.4%;
    left: 3%;
}

.energy-consumption-axis#x
{
    top: 92%;
    left: 52.15%;
}

.energy-consumption-label
{
    position: absolute;
    color: #212529;
    font-size: max(0.7vw, 10.08px);
    font-weight: 400;
    top: 17.5%;
}

.energy-consumption-label#label0
{
    left: 80%;
}

.energy-consumption-label#label1
{
    left: 91.5%;
}

.energy-consumption-img
{
    position: absolute;
    top: 19.5%;
    width: 2%;
    height: 0%;
}

.energy-consumption-img#img0
{
    border: 1px solid #2CD9C5;
    left: 77%;
}

.energy-consumption-img#img1
{
    border: 1px solid #826AF9;
    left: 88.5%;
}

.view-page .energy-options-container
{
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 65%;
    width: 36.5%;
}

.view-page .energy-options-container .btn
{
    display: inline-block;
    cursor: pointer;
    color: #333132;
    border-radius: 3px;
    font-size: max(0.7vw, 10.08px);
    font-weight: 600;
    text-align: center;
    padding: 2.5% 6% 2.5% 6%;
}

.view-page .energy-options-container .btn:hover
{
    background: #F5F2F2;
}

.view-page .energy-options-container .btn#selected
{
    background: #E0E0E0;
}

.view-page .energy-options-container .btn#selected:hover
{
    background: #E6E4E4;
}

.view-page .graph-container
{
    position: absolute;
    top: 25%;
    left: 4%;
    width: 92%;
    height: 70%;
}