/* header */

.card-header#activity .header-text
{
    left: 5.5595%;
}

.card-header#activity .icon
{
    top: 24.5%;
    left: 1.8531%;
    width: 2.6%;
}

.card-header#activity h1.show, .card-header#activity h1.entries
{
    position: absolute;
    font-size: max(0.75vw, 10.8px);
    font-weight: 600;
    top: 18%;
}

.card-header#activity .show
{
    left: 73.8%;
}

.card-header#activity .entries
{
    left: 87.5%;
}

.card-header#activity .dd-container
{
    position: absolute;
    top: 20%;
    left: 79.25%;
    width: 7%;
    height: 55.23%;
}

.card-header#activity .header-divider
{
    background-color: #C6C6C6;
    left: 95%;
}

.card-header#activity .refresh
{
    left: 96.5%;
    width: 1.9%;
}

/* table */

.activity-table-container
{
    font-size: max(0.8vw, 11.52px);
    font-weight: 400;
    margin: 10.5% 5.5% 0% 5.5%;
    width: 89%;
}

.activity-table-header
{
    position: absolute;
    color: #333132;
    font-weight: 600;
    top: 18%;
    cursor: pointer;
    user-select: none;
}

.activity-table-header#user
{
    left: 8.3%;
}


.activity-table-header#action
{
    left: 57.1%;
}

.activity-table-divider
{
    position: absolute;
    background-color: #E0E0E0;
    opacity: 0.8;
    width: 89%;
    height: 1px;
}

.activity-table-divider#divider0
{
    top: 24%;
}

.activity-table-divider#divider1
{
    top: 89%;
}

.activity-table
{
    padding-top: 2.2%;
    width: 100%;
    border-collapse: collapse;
}

.activity-table tr:nth-child(odd)
{
    background-color: #F7F7F7;
}

.activity-table td
{
    color: #333132;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
}

.activity-table .user
{
    padding-top: 0.5%;
    padding-left: 3%;
    width: 13.9%;
}

.activity-table .action
{
    padding-top: 0.5%;
    width: 10.2%;
}

.activity-bottomtext
{
    position: absolute;
    color: #6D6E71;
    font-weight: 500;
    font-size: max(0.8vw, 11.52px);
    top: 93%;
    left: 6.5%;
}

/* pagination */

.pagination-container#activity
{
    top: 92.5%;
    left: 45%;
    width: 50%;
    height: 5.5%;
}