.blocklights-container
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 49.2%;
    height: 22.667%;
    display: block;
}

.dashboard-page-view-block-icon
{
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 2.5%;
    width: 2.3%;
    height: auto;
}

.dashboard-page-view-blocklights-header-divider
{
    z-index: 0;
    position: absolute;
    background-color: #005596;
    top: 2.6%;
    left: 93.5%;
    width: 0.1%;
    height: 9%;
}

.dashboard-page-view-blocklights-divider0
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 56.75%;
    left: 4.1%;
    width: 91.8%;
    height: 0%;
}

.dashboard-page-view-blocklights-divider1
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 56.75%;
    left: 34.7%;
    width: 0%;
    height: 37.1%;
}

.dashboard-page-view-blocklights-divider2
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 19.75%;
    left: 65.3%;
    width: 0%;
    height: 74.2%;
}

.dashboard-page-view-blocklights-text-numlights
{
    position: absolute;
    color: #333132;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: 21.5%;
    left: 8%;
}

.dashboard-page-view-blocklights-text-faults
{
    z-index: -1;
    position: absolute;
    color: #333132;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: 21.5%;
    left: 74%;
}

.dashboard-page-view-blocklights-text-on
{
    position: absolute;
    color: #333132;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: 60.2%;
    left: 14%;
}

.dashboard-page-view-blocklights-text-off
{
    position: absolute;
    color: #333132;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: 60.2%;
    left: 45%;
}

.dashboard-page-view-blocklights-text-dimmed
{
    position: absolute;
    color: #333132;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: 60.2%;
    left: 77%;
}

.dashboard-page-view-blocklights-icon-faults
{
    z-index: 1;
    position: absolute;
    top: 23.7%;
    left: 69%;
    width: 4%;
    height: auto;
}

.dashboard-page-view-blocklights-icon-on
{
    z-index: 1;
    position: absolute;
    top: 62.5%;
    left: 10.5%;
    width: 2.3%;
    height: auto;
}

.dashboard-page-view-blocklights-icon-off
{
    z-index: 1;
    position: absolute;
    top: 62.5%;
    left: 41%;
    width: 2.3%;
    height: auto;
}

.dashboard-page-view-blocklights-icon-dimmed
{
    z-index: 1;
    position: absolute;
    top: 62.5%;
    left: 72.5%;
    width: 2.3%;
    height: auto;
}

.dashboard-page-view-blocklights-value-container-numlights
{
    position: absolute;
    text-align: left;
    top: 25%;
    left: 8%;
    width: 50%;
}

.dashboard-page-view-blocklights-value-container-faults
{
    position: absolute;
    text-align: center;
    top: 25%;
    left: 73%;
    width: 20%;
}

.dashboard-page-view-blocklights-value-container-on
{
    position: absolute;
    text-align: center;
    top: 64%;
    left: 8%;
    width: 22%;
}

.dashboard-page-view-blocklights-value-container-off
{
    position: absolute;
    text-align: center;
    top: 64%;
    left: 41.8%;
    width: 22%;
}

.dashboard-page-view-blocklights-value-container-dimmed
{
    position: absolute;
    text-align: center;
    top: 64%;
    left: 73%;
    width: 20%;
}

.dashboard-page-view-blocklights-value
{
    color: #333132;
    font-weight: 600;
    font-size: max(2.4vw, 34.56px);
}