/* header */

.card-header#active-lights
{
    background-color: #F07E0B;
}

.card-header#active-lights .header-text
{
    color: #FFFFFF;
    left: 7.5%;
}

.card-header#active-lights .header-icon
{
    top: 26.5%;
    left: 2.5%;
    width: 3.5%;
}

.card-header#active-lights .refresh
{
    left: 88.5%;
    width: 2.7%;
}

.card-header#active-lights .header-divider
{
    background-color: #A35200;
    left: 93.5%;
}

.card-header#active-lights .info
{
    left: 93.3%;
    width: 7%;
}

/* table */

.active-lights-table
{
    font-weight: 400;
    font-size: max(0.8vw, 11.52px);
    width: 90%;
    margin-top: 15%;
    margin-left: 5%;
}

.active-lights-table > h1
{
    position: absolute;
    color: #333132;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 15.7%
}

.active-lights-table .detections
{
    left: 7.9%;
}

.active-lights-table .date
{
    left: 33.7%;
}

.active-lights-table .time
{
    left: 54.4%;
}

.active-lights-table .stats
{
    left: 73.1%;
}

.active-lights-table > div
{
    position: absolute;
    opacity: 0.8;
    background-color: #E0E0E0;
    margin-top: -2.5%;
    left: 5.25%;
    width: 89%;
    height: 1px;
}

.active-lights-table > table
{
    padding-top: 5.5%;
    border-collapse: collapse;
}

.active-lights-table > table tr:nth-child(odd)
{
    background-color: #FEF8F3;
}

.active-lights-table td
{
    color: #333132;
    font-size: max(0.75vw, 10.8px);
    font-weight: 500;
    padding-top: 0.8%;
}

.active-lights-table td.id
{
    width: 13.9%;
    padding-left: 3%;
}

.active-lights-table td.date
{
    width: 10.2%;
}

.active-lights-table td.time
{
    width: 9.2%;
}

.active-lights-table td.stats
{
    color: #009BA7;
    font-weight: 600;
    width: 10%;
}