/* header */

.card-header#gateway .header-text
{
    left: 11.5212%;
}

.card-header#gateway .header-icon
{
    top: 33%;
    left: 3.8404%;
    width: 5%;
}

/* button */

.gateway-button
{
    position: absolute;
    background-color: #005570;
    opacity: 0.5;
    border-radius: 6px;
    top: 67%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 10%;
    cursor: pointer;
}

.gateway-button:hover
{
    filter: brightness(120%);
}

.gateway-button-icon
{
    position: absolute;
    top: 25%;
    left: 8%;
    width: 7%;
    height: auto;
}

.gateway-button h1
{
    position: absolute;
    color: #FFFFFF;
    font-size: max(0.8vw, 11.52px);
    font-weight: 400;
    top: 25%;
    left: 20%;
    margin: 0%;
}

.gateway-text
{
    position: absolute;
    overflow-wrap: break-word;
    color: #333132;
    font-size: max(0.75vw, 10.8px);
    text-align: left;
    font-weight: 500;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

.gateway-subtext
{
    position: absolute;
    color: #6D6E71;
    font-size: max(0.7vw, 10.08px);
    font-weight: 500;
    text-align: center;
    top: 90%;
    width: 100%;
}