.pop-up .container#relocation
{
    height: 26.018225%;
    text-align: center;
}

/* header */

.pop-up-header#relocation
{
    height: 35.94306%;
}

.pop-up-header#relocation h1.title
{
    top: 29.707525%;
} 

.pop-up-header#relocation h1.subtitle
{
    top: 48.274729%;
}

/* input */

.container#relocation input
{
    font-size: max(1.2vw, 17.28px);
    font-weight: 500;
    text-align: left;
    margin-top: 17.5%;
    padding-left: 4%;
    padding-right: 4%;
    width: 82.19%;
    height: 17.05516%;
}

.container#relocation input::placeholder
{ 
    color: #6D6E71;
    opacity: 0.5;
    font-size: max(1.2vw, 17.28px);
    font-weight: 500;
    text-align: left;
}

/* cancel and submit buttons */

.container#relocation .btn#cancel
{
    background-color: #C6C6C6;
    top: 81.04982%;
    left: 18.2%;
    height: 11.4964%;
    line-height: 185%;
}

.container#relocation .btn#submit
{
    background-color: #005570;
    top: 81.04982%;
    left: 52.3%;
    height: 11.4964%;
    line-height: 185%;
}