.pop-up .container#relocation
{
    height: 26.018225%;
    text-align: center;
}

/* header */

.pop-up-header#relocation
{
    height: 35.94306%;
}

.pop-up-header#relocation h1.title
{
    top: 29.707525%;
} 

.pop-up-header#relocation h1.subtitle
{
    top: 48.274729%;
}