/* header */

.card-header#block-lights
{
    background-color: #4C8CCC;
}

.card-header#block-lights .header-text
{
    color: #FFFFFF;
    left: 7.5%;
}

.card-header#block-lights .header-icon
{
    top: 26.5%;
    left: 2.5%;
    width: 2.3%;
}

.card-header#block-lights .refresh
{
    left: 88.5%;
    width: 2.7%;
}

.card-header#block-lights .header-divider
{
    background-color: #005596;
    left: 93.5%;
}

.card-header#block-lights .info
{
    left: 93.3%;
    width: 7%;
}

/* dividers */

.block-lights-divider
{
    position: absolute;
    background-color: #E0E0E0;
}

.block-lights-divider#divider0
{
    top: 56.75%;
    left: 4.1%;
    width: 91.8%;
    height: 1px;
}

.block-lights-divider#divider1
{
    top: 56.75%;
    left: 34.7%;
    width: 1px;
    height: 37.1%;
}

.block-lights-divider#divider2
{
    top: 19.75%;
    left: 65.3%;
    width: 1px;
    height: 74.2%;
}

/* section labels */

.block-lights-label
{
    position: absolute;
    color: #333132;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: 60.2%;
}

.block-lights-label#numlights
{
    top: 21.5%;
    left: 8%;
}

.block-lights-label#faults
{
    top: 21.5%;
    left: 74%;
}

.block-lights-label#on
{
    left: 13%;
}

.block-lights-label#off
{
    top: 60.2%;
    left: 45%;
}

.block-lights-label#dimmed
{
    top: 60.2%;
    left: 77%;
}

/* section label icons */

.block-lights-icon
{
    position: absolute;
    height: auto;
}

.block-lights-icon#faults
{
    top: 23.7%;
    left: 69%;
    width: 4%;
}

.block-lights-icon#on
{
    top: 62.5%;
    left: 9.5%;
    width: 2.3%;
}

.block-lights-icon#off
{
    top: 62.5%;
    left: 41%;
    width: 2.3%;
}

.block-lights-icon#dimmed
{
    top: 62.5%;
    left: 72.5%;
    width: 2.3%;
}

/* values */

.block-lights-values div
{
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 28%;
    color: #333132;
    font-weight: 600;
    font-size: max(2.4vw, 34.56px);
}

.block-lights-values .numlights
{
    text-align: left;
    top: 32%;
    left: 8%;
}

.block-lights-values .faults
{
    top: 32%;
    left: 68%;
}

.block-lights-values .on
{
    top: 71%;
    left: 4.8%;
    width: 28%;
}

.block-lights-values .off
{
    top: 71%;
    left: 37%;
}

.block-lights-values .dimmed
{
    top: 71%;
    left: 68%;
}